<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>首页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/skin/plugs/normalize-css/normalize.css">
  <link rel="stylesheet" href="/skin/css/base.min.css">
</head>
<body>

<!-- ========================================================================== -->
<header id="header">
 <div class="container clearfix">
  <div class="nav">
    <a href="/" class="logo"><img src="/skin/img/logo.png" alt=""></a>
    <div class="triggers">
      <a href="#" class="mean-btn" v-on:click="tag = true"><i class="icon icon-catgray"></i></a>
    </div>
    <nav v-bind:class="{ navShow: tag }" v-clock>
      <!-- <a href="#" class="border-1px" v-for="item in navs">{{item}}</a> -->
      <a href="#" class="border-1px" v-for="(item, index) in navs" v-bind:class="{ cur : index == 0 }">{{item}}</a>
    </nav>
  </div>
  <div class="login-btns">
    <ul class="tool-nav">

      <li class="login-btn">
        <div class="login">
          <div class="item"><a href="/">注册</a></div>
          <span class="line">|</span>
          <div class="item"><a href="/">登录</a></div>
        </div>
      </li>
      <li class="go-zczj">
        <a href="/">前往之家</a>
      </li>
    </ul>
  </div>
 </div>
 <!-- 遮罩层 -->
  <div class="mask" v-bind:class="{ mask-show: tag }"></div>
</header>
<section class="container">
  <p>xxxx</p>
  <p>xxxx</p>
  <p>xxxx</p>
</section>

<!-- ========================================================================== -->
<script src="http://www.zczj.com/skin/js/jquery.min.js"></script>
<script src="//cdn.bootcss.com/vue/2.0.5/vue.min.js"></script>
<script>
  new Vue({
    el: "#header",
    data: {
      tag: false,
      navs: [
        '首页',
        '投资项目',
        '股权转让',
        '质押贷款',
        '新手指引',
        '关于我们'
      ]
    },
    methods: {
      showMean: function(e) {
        this.tag = !this.tag;
        document.querySelector('html').className = 'holding'
        document.querySelector('body').className = 'holding'
      },
      closeMean: function(e) {
        this.tag = !this.tag;
        document.querySelector('html').className = '';
        document.querySelector('body').className = '';
      }
    }


  })


;(function () {
  return;
  var btn = document.querySelector('.mean-btn');
  var body = document.querySelector('body');
  var html = document.querySelector('html');
  var nav = document.querySelector('nav');
  btn.addEventListener('click',function(){
    if (nav.className == '') {
      html.className = 'holding'
      body.className = 'holding';
      nav.className = 'nav-show';
     document.querySelector('header').className = 'header-showmean';
     // body.className = 'slide-left';

      // WN.addAnimEvent(body,callback);
    }else{
       body.className = '';
       html.className = '';
       nav.className = '';
       document.querySelector('header').className = '';

    }
  },false)
})();
</script>
</body>
</html>