extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/plugs/owl/owl.carousel.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.css")
  link(rel="stylesheet", href="/skin/css/index.css")


  .dgd-ad
    .owl-carousel.owl-theme
       div
        img(src="/skin/img/index/ad01-l.jpg", alt="")
       div
        img(src="/skin/img/index/ad01-l.jpg", alt="")
       div
        img(src="/skin/img/index/ad01-l.jpg", alt="")
       div
        img(src="/skin/img/index/ad01-l.jpg", alt="")

  //- 注册人数
  section.dgd-num.border-1px
    span.item
      span.item-r
        span.num 234,600
        span.title 总注册人数
    span.item
        span.item-r
          span.num 234
          span.title 总项目数
    span.item
        span.item-r
          span.num 234,60
          span.title 总融资金额（万元）

  seciton.dgd-ga
    .container.clearfix
      .ga-main.ga-tab
        .ga-tab-btns.clearfix
          a.ga-tab-btn.cur(href="javascript:void(0);") 众筹
          a.ga-tab-btn(href="javascript:void(0);") 政策
          a.ga-tab-btn(href="javascript:void(0);") 国际
          a.ga-tab-btn(href="javascript:void(0);") 研究
          a.ga-tab-btn(href="javascript:void(0);") 创投
          a.more(href="#") 更多资讯 >>

        .ga-tab-box
          ul
            li.first.clearfix
              a(href="#")
                img(src="http://pic01.zczj.com//homeshow/20161124/20161124173623.jpg@1e_1c_0o_0l_150h_240w_90q.src", alt="")
              a(href="#").title.ellipsis 十张图看清BAT之间的实力对比
              p.txt.
                近日，百度、阿里、腾讯都相继发布了三季度财报，作为中国互
                联网的三大巨头，三者的营收体量、利润和业务结构各有什么区
                别？我们从这两年三者的季度财报中看看。
            li
              span.time 25分钟前
              a(href="#").title.ellipsis 特朗普：上任第一天就将发布命令退出TPP上任第一天就将发布命令退出TPP上任第一天就将发布命令退出TPP上任第一天就将发布命令退出TPP
            li
              span.time 10分钟前
              a(href="#").title.ellipsis 支付机构泄露千万银行卡信息 用户损失3900多万
      //- 平台公告
      .ga-side
        .dgd-plat-gg
          .title
            span 平台公告
            a.more(href="#") 更多资讯 >>
          ul.content
            li.clearfix
              span.time 25天前
              a(href="#").title.ellipsis 2016年大股东国庆假期安排公告2016年大股东国庆假期安排公告
            li.clearfix
              span.time 25天前
              a(href="#").title.ellipsis 2016年大股东国庆假期安排公告
            li.clearfix
              span.time 25天前
              a(href="#").title.ellipsis 2016年大股东国庆假期安排公告
            li.clearfix
              span.time 25天前
              a(href="#").title.ellipsis 2016年大股东国庆假期安排公告
            li.clearfix
              span.time 25天前
              a(href="#").title.ellipsis 2016年大股东国庆假期安排公告
            li.clearfix
              span.time 25天前
              a(href="#").title.ellipsis 2016年大股东国庆假期安排公告
            li.clearfix
              span.time 25天前
              a(href="#").title.clearfix 2016年大股东国庆假期安排公告
  //- 站岗宝
  section.stand-bao
    .container
      .common-t
        span 站岗宝
      ul.common-list
        li.list-item
          a(href="#")
            .list-pic
              img(src="http://pic01.zczj.com//homeshow/20161124/20161124173623.jpg@1e_1c_0o_0l_150h_240w_90q.src", alt="")
            .list-main
              .list-t
                .item
                  span 起投金额：
                  span.price 1元~100元
                .item
                  span 可购余额：
                  span.price 103000元
                  a.buy-now(href="#") 我要认购
              .list-con
                .list-txt.
                  “全新站岗宝”是由大股东推出的一项年化利率8%~10%的全新账户余额管理增值服务，用户
                  可以把账户中心的资金转入站岗宝中，可以获得一定的利息，让您的回款资金不站岗。
                .list-info
                  p.item
                    span 年化利率达8%~10%
                    span 日均收益(每万元)：2.11元起
                  p.item
                    span 每人每天限购5.00万元
                    span 总额不能超过20.00万元
  //- 融资的项目
  section.stand-bao
    .container
      .common-t
        span 融资的项目
      ul.common-list
        li.list-item
          a(href="#")
            .list-pic
              img(src="", alt="")
            .list-main
              .list-t
                .item
                  span 起投金额：
                  span.price 5000元
                .item
                  span 项目平台：
                  span.price 智金汇
                  a.buy-now(href="#") 我要认购
              .list-con
                .list-txt.
                  顺丰是国内快递公司中产业链布局最前瞻，也是最完美的快递公司，剔除剥离的电商板块。包括5大
                  板块，涵盖报关、物流、金融、冷链、仓配等等，其开发出的业务大部分也已其高端快递服务 ......
                .list-point
                  span.item
                    span.t 目标金额：
                    span.val 20,00万元
                  span.item
                    span.t 已达金额：
                    span.val 24,00万元
                  span.item
                    span.t 众筹轮次：
                    span.val 种子期
                .list-progress

      .loading-more
        a(href="javascript:void(0);") 查看更多融资项目

  //- 转让的项目
  section.transfer
    .container
      .common-t
        span 转让的项目
      ul.transfer-list
        li
          .face
            span.tag 转让中
            span.logo
              img(src="", alt="")
            h2.title 乐商宝2号2期
            a.btn(href="#") 点击查看
          .back
            .title 此项目折价出售
            p.item 还剩 X 天 X 小时 X 秒
            p.item 转让金额：4万元
            p.item 转让份额：2份
          a.btn(href="#") 查看关联项目

      .loading-more
        a(href="javascript:void(0);") 查看更多转让项目

  //- 我们的优势
  section.odds
    .container
      .common-t
        span 我们的优势
      .odds-list
        ul
          li
            span.logo
            h2.title 优先项目
            p.txt 为您精选优质项目 保障资金不站岗
        ul
          li
            span.logo
            h2.title 质押贷款
            p.txt  资金周转轻松搞定 投资理财更灵活

        ul
          li
            span.logo
            h2.title 股权转让
            p.txt  解决优质资产变现 提高资金流动性
  //- 合作机构
  section.player
    .container
      .common-t
        span 合作机构

  //- 友情链接
  section.links
    .container
      .common-t
        span 友情链接
      .links-list
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投
        a(href="#") 红岭创投





  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js")
  script.
    $(document).ready(function(){
      $('.owl-carousel').owlCarousel({
         items: 1,
         loop: true,
         autoplay: true,
         autoplayTimeout: 3000,
         autoplayHoverPause: true
      });
    });