extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/passport/passport.css")
  // passport模块公共vue实例挂载点
  .passport-common
  #fpwd.h-passport-page(v-cloak)
    .container
      .passport-profile-wrapper
        .profile
      .passport-content-wrapper
        // 步骤提示栏
        .fpwd-tooltips-bar
          .step(v-bind:class='{active: step==1}')
            p ①
            |找回密码
          .line
          .step(v-bind:class='{active: step==2}')
            p ②
            |重置密码
          .line
          .step(v-bind:class='{active: step==3}')
            p ③
            |完成
        // 步骤
        .passport-box-wrapper
          .passport-box
            // 第一步
            .passport-item(v-show='step==1')
              h2.passport-header 找回密码
              .fpwd-item-wrapper
                ul.passport-form
                  li
                    input.passport-input.user-account(placeholder='输入您的手机或邮箱' ref='telPhoneNum')
                  transition(name='fade')
                    li.error(v-show='passortModel.error') {{passortModel.errorMsg}}
              a(href="javascript:;" v-on:click='step1').passport-button 下一步
            // 第二步
            transition(name='fade')
              .passport-item(v-show='step==2')
                h2.passport-header 找回密码
                .fpwd-item-wrapper
                  ul.passport-form
                    li
                      input.passport-input.sms-modifycode(placeholder='输入手机验证码' ref='SMSVerify')
                      span.sms(v-on:click='passortModel.sendSMS(fpwdModel)' v-html='passortModel.sms' v-bind:class='{disabled: passortModel.sended}')
                    li
                      input.passport-input.new-pwd(type='password' placeholder='输入新密码' ref='newPassword')
                      span.fpwd-notice (请输入8~16位中英文组合密码)
                    transition(name='fade')
                      li.error(v-show='passortModel.error') {{passortModel.errorMsg}}
                a(href="javascript:;" v-on:click='step2').passport-button 下一步
            // 第三步
            .passport-item(v-show='step==3')
              h2.passport-header 找回密码成功
              .passport-success
              p.passport-success-msg 您已成功修改密码
              p.passport-success-msg 请重新登录
              a(href="./login.html").passport-button 登录

  script(src='../skin/js/passport/passport.js')
  script(src='../skin/js/passport/fpwd.js')
