extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/passport/passport.css")
  // passport模块公共vue实例挂载点
  .passport-common
  #login(v-cloak).h-passport-page
    .container
      .passport-profile-wrapper
        .profile
      .passport-content-wrapper
        .passport-box-wrapper
          .passport-box
            // 账号登录
            transition(name='fade')
              .passport-item.account(v-show='!formShow')
                h2.passport-header 登录
                ul.passport-form
                  li
                    input#focus.passport-input.account(type='text' placeholder='输入您的帐号' ref='account')
                  li
                    input.passport-input.password(type='password' placeholder='输入您的密码' ref='password' v-on:keyup.enter='login')
                  transition(name='fade')
                    li.error(v-show='passortModel.error') {{passortModel.errorMsg}}
                  li
                    label.remember
                      input(type='checkbox' value='checked' v-model='checkName')
                      |记住密码
                    .forgot
                      a(href="./fpwd.html") 忘记密码
                button.passport-button(v-on:click='login') 登录
                a(href="./register.html").passport-button 注册
            // 手机验证码登录
            transition(name='fade')
              .passport-item.phoneNum(v-show='formShow')
                h2.passport-header 登录
                ul.passport-form
                  li
                    input.passport-input(type='tel' placeholder='输入您的手机号' ref='telPhoneNum')
                  li
                    input.passport-input(type='text' placeholder='输入图形验证码')
                    img(src="http://www.dgd.vc/Passport/VerifyImage", alt="" ref='verifyImage').verify
                    i.icon.icon-refresh(v-on:click='passortModel.getVerify(loginModel)')
                  li
                    input.passport-input(type='text' placeholder='输入手机验证码' ref='SMSVerify')
                    span.sms(v-on:click='passortModel.sendSMS(loginModel)' v-html='passortModel.sms' v-bind:class='{disabled: passortModel.sended}')
                  transition(name='fade')
                    li.error(v-show='passortModel.error') {{passortModel.errorMsg}}
                button.passport-button(v-on:click='loginBySMS') 登录
                a(href="./register.html").passport-button 注册
          // 账号登录、手机验证码登录切换按钮
          .switch-login-box
            button.passport-button.phone-login( v-show='!formShow' v-on:click='toggle')
              i.icon.icon-phone
              |手机验证码登录
            button.passport-button.user-login( v-show='formShow' v-on:click='toggle')
              i.icon.icon-user
              |账号密码登录
  script(src='../skin/js/passport/jquery-md5.min.js')
  script(src='../skin/js/passport/passport.js')
  script(src='../skin/js/passport/login.js')
