extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/passport.css")
  #login(v-cloak).h-passport-page
    .container
      .passport-profile-wrapper
        .profile
      .passport-content-wrapper
        .passport-box-wrapper
          .passport-box
            // 账号登录
            transition(name='fade')
              .passport-item.account(v-show='!formShow')
                h2.passport-header 登录
                ul.passport-form
                  li
                    input.passport-input.account(type='text' placeholder='输入您的帐号')
                  li
                    input.passport-input.password(type='password' placeholder='输入您的密码' v-on:keyup.enter='login')
                  transition(name='fade')
                    li.error(v-show='error') {{errorMsg}}
                  li
                    label.remember
                      input(type='checkbox')
                      |记住密码
                    .forgot
                      a(href="./fpwd.html") 忘记密码
                button.passport-button(v-on:click='login') 登录
                a(href="./register.html").passport-button 注册
            // 手机验证码登录
            transition(name='fade')
              .passport-item.phoneNum(v-show='formShow')
                h2.passport-header 登录
                ul.passport-form
                  li
                    input.passport-input(type='text' placeholder='输入您的手机号')
                  li
                    input.passport-input(type='text' placeholder='输入图形验证码')
                    img(src="../skin/img/passport/verify.png", alt="").verify
                    i.icon.icon-refresh(v-on:click='refreshVerify()')
                  li
                    input.passport-input(type='text' placeholder='输入手机验证码')
                    span.sms(v-on:click='sendSMS' v-html='sms' v-bind:class='{disabled: sended}')
                    transition(name='fade')
                      li.error(v-show='error') {{errorMsg}}
                button.passport-button(v-on:click='login') 登录
                a(href="./register.html").passport-button 注册
          .switch-login-box
            button.passport-button.phone-login( v-show='!formShow' v-on:click='formShow=true')
              i.icon.icon-phone
              |手机验证码登录
            button.passport-button.user-login(v-on:click='formShow=false' v-show='formShow')
              i.icon.icon-user
              |账号密码登录
  script(src='../skin/js/jquery-md5.min.js')
  script.
    new Vue({
      el: '#login',
      data: {
        formShow: false, // 显示隐藏手机登录还是账号登录
        sms: '发送',
        sended: false,  // 是否已发送短信验证码
        error: false,  // 表单验证错误提示
        errorMsg: '',  // 表单验证错误提示信息
      },
      methods: {
        sendSMS: function () {
          if (this.sended){
            // 已发送短信，倒计时内不可再点击
            return false
          } else {
            // 设置按钮文字状态
            this.countdown()

            // 发送短信方法
            console.log(1)
          }
        },
        // 倒计时
        countdown: function () {
          var num = 20, timer = null, _this = this
          this.sms = '重新发送(<em style="color:red;font-style:normal;">'+num+'</em>)s'
          this.sended = true
          timer = setInterval(function () {
            num--
            if( num <=0 ){
              clearInterval(timer)
              _this.sended = false
              _this.sms = '重新发送'
              return
            }
            _this.sms = '重新发送(<em style="color:red;font-style:normal;">'+num+'</em>)s'
          }, 1000)
        },
        // 重新获取验证码
        refreshVerify: function () {
          console.log('重新获取验证码')
        },
        login: function () {
          var _this = this, _delay = 5000,
              account = $('.account input.account').val(),
              // 密码加密
              password =  $.md5($.md5($('.account input.password').val()))

          if (account == '' || password == '') {
            _this.errorMsg = '账号或密码不能为空'
            _this.error = true
            setTimeout(function () {
              _this.error = false
            }, _delay)
          } else {
            $("#loader").fadeIn(300)
            $.ajax({
              url: 'http://devapi.zczj.com:80/api/Passport/Login',
              data: {
                'Account': account,
                'Password': password
              },
              type: 'post',
              success: function (response) {
                if(response){
                  $("#loader").fadeOut(300)

                  if(response.resultid !== 200){
                    // 请求成功，账号或密码不正确
                    _this.error = true
                    _this.errorMsg = response.message
                    setTimeout(function () {
                      _this.error = false
                    }, _delay)
                  } else if (response.resultid === 200) {
                    // 请求成功，账号密码正确，登录成功
                    $("#loader").fadeOut(300)
                    // 登录成功，跳转
                    // doSomething
                    //用户信息
                    //{"token":"","uid":,"Avatar":"","UserName":"","message":"","resultid":}
                    DGDTOOLS.store.save('userInfo', response);
                    window.location.href = './success.html?login'
                  }
                }
              }
            })
          }
        }
      }

    })