extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/passport.css")
  #register(v-cloak).h-passport-page
    .container
      .passport-profile-wrapper
        .profile
      .passport-content-wrapper
        .passport-box-wrapper
          .passport-box
            // 注册
            .passport-item
              h2.passport-header 注册
              ul.passport-form
                li
                  input.passport-input(type='text' placeholder='输入您的手机号')
                li
                  input.passport-input(type='text' placeholder='输入图形验证码')
                  img(src="../skin/img/passport/verify.png", alt="").verify
                  i.icon.icon-refresh(v-on:click='refreshVerify()')
                li
                  input.passport-input(type='text' placeholder='输入手机验证码')
                  span.sms(v-on:click='sendSMS' v-html='sms' v-bind:class='{disabled: sended}')
                li
                  input.passport-input(type='password' placeholder='输入您的密码')
                li
                  input.passport-input(type='text' placeholder='输入推荐码（选填）')
                li
                  label.remember
                    input(type='checkbox')
                    |我已阅读及同意
                    a(href="#").services 《大股东服务协议》
                    |和
                    a(href="#").services 《风险揭示书》
              button.passport-button 注册


  script.
    new Vue({
      el: '#register',
      data: {
        formShow: true,
        sms: '发送',
        sended: false
      },
      methods: {
        sendSMS: function () {
          if (this.sended){
            // 已发送短信，倒计时内不可再点击
            return false
          } else {
            // 设置按钮文字状态
            this.countdown()

            // 发送短信方法
            console.log(1)
          }
        },
        // 倒计时
        countdown: function () {
          var num = 20, timer = null, _this = this
          this.sms = '重新发送(<em style="color:red;font-style:normal;">'+num+'</em>)s'
          this.sended = true
          timer = setInterval(function () {
            num--
            if( num <=0 ){
              clearInterval(timer)
              _this.sended = false
              _this.sms = '重新发送'
              return
            }
            _this.sms = '重新发送(<em style="color:red;font-style:normal;">'+num+'</em>)s'
          }, 1000)
        },
        // 重新获取验证码
        refreshVerify: function () {
          console.log('重新获取验证码')
        }
      }
    })