extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/passport/passport.css")
  .passport-common
  #register(v-cloak).h-passport-page
    .container
      .passport-profile-wrapper
        .profile
      .passport-content-wrapper
        .passport-box-wrapper
          .passport-box
            // 注册
            .passport-item
              h2.passport-header 注册
              ul.passport-form
                li
                  input.passport-input(type='text' placeholder='输入您的手机号' ref='telPhoneNum')
                li
                  input.passport-input(type='text' placeholder='输入图形验证码' ref='imageVerify')
                  img(src="http://www.dgd.vc/Passport/VerifyImage", alt="" ref='verifyImage').verify
                  i.icon.icon-refresh(v-on:click='passportModel.getVerify(registerModel)')
                li
                  input.passport-input(type='text' placeholder='输入手机验证码' ref='SMSVerify')
                  span.sms(v-on:click='passportModel.sendSMS(registerModel)' v-html='passportModel.sms' v-bind:class='{disabled: passportModel.sended}')
                li
                  input.passport-input(type='password' placeholder='输入您的密码' ref='password')
                li
                  input.passport-input(type='text' placeholder='输入推荐码（选填）' ref='recommend')
                transition(name='fade')
                  li.error(v-show='passportModel.error') {{passportModel.errorMsg}}
                li
                  label.remember
                    input(type='checkbox')
                    |我已阅读及同意
                    a(href="#").services 《大股东服务协议》
                    |和
                    a(href="#").services 《风险揭示书》
              button.passport-button(v-on:click='register') 注册


  script(src='../skin/js/passport/passport.js')
  script(src='../skin/js/passport/register.js')
