extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/passport.css")
  #success(v-cloak).h-passport-page
    .container
      .passport-profile-wrapper
        .profile
      .passport-content-wrapper
        .fpwd-tooltips-bar(v-if='fpwd')
          .step
            p ①
            |找回密码
          .line
          .step
            p ②
            |重置密码
          .line
          .step.active
            p ③
            |完成
        .passport-box-wrapper(v-bind:class='{"fpwd-layout": fpwd}')
          .passport-box
            // 登录/注册成功
            h2.passport-header {{type}}成功
            .passport-success
            div(v-if='!fpwd')
              p.passport-success-msg 恭喜您{{type}}成功
              p.passport-success-msg(v-if='from') 520元红包已发，请查收。
              a(href="#").passport-button 前往用户中心
              p.passport-success-go
                span {{number}}s
                | 后返回到上一页
            div(v-if='fpwd')
              p.passport-success-msg 您已成功修改密码
              p.passport-success-msg 请重新登录
              a(href="./login.html").passport-button 登录

  script.
    var getType = window.location.href.split('?')[1] || 'error'
    new Vue({
      el: '#success',
      data: {
        formShow: false,
        from: false,
        number: 10,
        fpwd: false
      },
      computed: {
        type: function () {
          if (getType == 'login') {
            this.from = false
            return '登录'
          } else if (getType == 'register') {
            this.from = true
            return '注册'
          } else if (getType == 'fpwd') {
            this.fpwd = true
            return '找回密码'
          } else {
            window.location.href='/'
            return
          }
        },
        // 计算countdown值
        countdown: function () {
          var timer = null, _this=this//, number = 10
          return timer = setInterval(function () {
            _this.number--
            if (_this.number<=0) {
              clearInterval(timer)
            }
            return _this.number
          }, 1000)
        }
      },
      mounted: function () {
        var timer = null,  _this = this
        timer = setInterval(function () {
          _this.number--
          if (_this.number<=0) {
            clearInterval(timer)
            window.location.href = window.location.search.split('url=')[1];

          }
        }, 1000)
      }
    })