@import "news.scss";
// 新闻详情
.news-warp{
  min-height: 500px;
}
.news-detail{
  font-size: 1.6rem;
  color: #1f1f1f;
  line-height: 1.6;
  position: relative;
  padding-left: 70px;
  .item-head{
    font-size: 0;
    color: #999;
    .item-title{
      color: #1f1f2b;
      font-size: 3rem;
      font-weight: 700;
      padding: 0;
      margin: 0;
      line-height: 1.2;
    }
    .item-souce{
      margin-top: 8px;
      &>div{
        display: inline-block;
        float: left;
        width: 60%;
        font-size: 1.4rem;
        height: 30px;
        line-height: 30px;
        span{
          padding: 0 6px;
        }
        &.item-r{
          width: 40%;
          text-align: right;
          span.sc-ed{
            color: #009ff0;
          }
          .icon-sc{
            font-size: 1.8rem;
            margin-top: -2px;
          }
        }
      }
    }
  }
  //- 导读
  .item-dd{
    padding: 20px;
    margin: 20px 0;
    background: #f1f1f1;
    font-size: 1.5rem;
    color: #494a4a;
  }
  //- 新闻详情
  .item-info{
    font-size:1.6rem;
    img{
      max-width:100%;
    }
  }
  //- 关键词
  .item-keyWords{
    text-align: center;
    font-size: 0;
    span{
      font-size: 1.5rem;
      display: inline-block;
      padding: 4px 15px;
      background:#d8e7ff;
      color: #616a73;
      margin: 4px 10px;
    }
  }
  //- 分享
  .item-share{
    width: 60px;
    float: left;
    position: fixed;
    margin-top: 30px;
    margin-left: -70px;
    a.item+a.item{
      border-top: 1px #f0f0f0 solid;
    }
    a.item{
      width: 60px;
      height: 60px;
      background:#fafafa;
      color: #999;
      position: relative;
      cursor: pointer;
      display: inline-block;
      &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 60px;
        height: 60px;
        opacity: 0;
        transform: scale(0,0);
        transition: .5s cubic-bezier(.3,0,0,1.3);
      }

      &:nth-child(1){
        &::after{
          background:#f74864;
        }
      }
      &:nth-child(2){
        &::after{
          background:#1ec354;
        }
      }
      &:nth-child(3){
        &::after{
          background:#17a9ff;
        }
      }
      &:nth-child(4){
        &::after{
          background:#ffce0b;
        }
      }
      &:hover{
        &::after{
          transform: scale(1,1);
          opacity:1
        }
        i.icon{
          color: #fff;
        }
      }

      i.icon{
        position: relative;
        z-index: 1;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 3rem;
      }

    }

  }
  //- 申明
  .item-shengming{
    color: #b4b4b4;
    margin-top: 10px;
    .tigger{
      height: 30px;
      line-height: 30px;
      font-size: 1.6rem;
      .icon-sm{
        vertical-align: middle;
        margin-right: 6px;
      }
      &:hover{
        cursor: pointer;
        color: #009ff0;
      }
    }
    .item-sm-box{
      font-size: 1.4rem;
      color: #666;
      p{
        padding: 4px 0;
      }
    }
  }

  &.news-mobile{
    padding-bottom: 70px;
    padding-left: 0;
    .item-share{
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: 0;
      width: 100%;
      a.item+a.item{
        border-left: 1px #f0f0f0 solid;
        border-top: none;
      }
      a.item{
        width: 25%;
        text-align: center;
        &::after{
          width: 100%;
        }
      }
    }
    .item-keyWords{
      text-align: left;
      span{
        margin: 4px 6px;
      }
    }

  }
}

.comment{
  margin-top: 20px;
  width: 100%;
  color:#616a73;
  font-size: 1.5rem;
  .com-header{
    font-size: 1.8rem;
    .com-num{
      color:#3574f7;
    }
  }
  
  .com-form{
    margin-top: 10px;
    .com-box{
      padding: 5px 8px;
      font-size: 1.4rem;
      width: 100%;
      border:1px #c5c3c3 solid;
      line-height: normal;
      height: 8rem;
    }
    .com-ft{
      margin-top: 10px;
      .com-tips{
        float:left;
      }
      button{
        float:right;
        color:#fff;
        background: #009ff0;
        font-size: 2rem;
        padding: 12px 28px;
        border:none;
        border-radius: 5px;
      }
    }
  }
  //- 评论列表
  .com-list{
    margin-top: 20px;
    .item{
      font-size: 0;
      padding: 20px 0 10px;
      border-top: 1px #e3e3e3 dashed;
      .com-photo{
        font-size: 1.5rem;
        display: inline-block;
        width: 40px;
        height: 40px;
        overflow: hidden;
        background: #ccc;
        border-radius: 20px;
        vertical-align: top;
      }
      .com-cont{
        width: calc(100% - 50px);
        display: inline-block;
        margin-left: 10px;
        font-size: 1.5rem;
        .com-t{
          color:#a8a9ab;
          .author{
            float:left;
          }
          .time{
            float:right;
          }
        }
        .com-tools{
          text-align: right;
          margin-top: 6px;
        }
        //- 二级评论
        .com-list-sub{
          margin-top: 6px;
          padding: 0 12px;
          background:#f2f2f5;
          .list-li{
            padding: 5px 0 7px;
            font-size:0;
            .repay-info{
              display: block;
              font-size: 1.4rem;
              line-height: 1.2;
              padding: 4px 0;
              .repay-name{
                display: inline-block;
                width: calc(100% - 110px);
                .blue{
                  color:#3e85ff;
                }
              }
              .time{
                display: inline-block;
                font-size: 1.2rem;
                width: 110px;
                text-align: right;
                vertical-align: top;
                color:#a8a9ab;
              }
            }
            .repay-txt{
              font-size: 1.4rem;
            }
          }
          .list-li+.list-li{
            border-top: 1px #e3e3e3 solid;
          }
        }
      }
    }
  }
}





@mixin news-detail--600() {
  .news-detail{
    .item-head{
      .item-souce{
        &>div{
          &.item-l{
            width:calc(100% - 40px)
          }
          &.item-r{
            width: 40px;
            .sc{
              font-size: 0;
              .icon{font-size: 2.6rem;}
            }
            .commone,.read{display: none;}
          }

        }

      }
    }
  }
}

//小于600px;
@media only screen and (max-width: 37.5em) {
  @include news-detail--600();
}