##############################.net相关
App_Data/
App_Start/
bin/
Controllers/
Models/
obj/
Properties/
Views/
Global.asax
Global.asax.cs
packages.config
Web.config
Web.Debug.config
Web.Release.config
ZCZJ.Trade.Mobile.csproj

###########################前端相关
node_modules/
app/
dist/
.gitignore
.bowerrc
bower.json
gulpfileA.js
gulpfileBack.js
#package.json
#gulpfile.js
#src/