<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>Document</title>
    <link rel="stylesheet" href="/skin/plugs/normalize-css/normalize.css"/>
    <link rel="stylesheet" href="/skin/css/base.css"/>
    <link rel="stylesheet" href="/skin/css/dialog.css"/>
    <script src="http://www.zczj.com/skin/js/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.0.5/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="/skin/plugs/dialog/js/dialog.js"></script>
    <script src="/skin/js/util.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="container clearfix">
        <div v-bind:class="{navLogin: !isLogin}" class="nav"><a href="/" class="logo"><img src="/skin/img/logo.png" alt=""/></a>
          <div class="triggers"><a href="#" v-on:click="showMean" class="mean-btn"><i class="icon icon-catgray"></i></a></div>
          <nav v-bind:class="{ navShow: tag }" v-cloak=""><a href="#" v-for="(item, index) in navs" v-bind:class="{ cur : index == 0 }" class="border-1px">{{item}}</a></nav>
          <div class="login-btns">
            <ul class="tool-nav">
              <li class="login-btn">
                <div v-if="isLogin" class="login">
                  <div class="item"><a href="/passport/login.html">登录</a></div><span class="line">|</span>
                  <div class="item"><a href="/passport/register.html">注册</a></div>
                </div>
                <div v-else="" class="login">
                  <div class="item"><a href="/mycenter/index"><img :src="userInfo.Avatar" alt=""/></a></div>
                  <div class="item"><a href="/">退出</a></div>
                </div>
              </li>
              <li class="go-zczj"><a href="http://m.dgd.vc/">前往之家</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div v-bind:class="{'mask-show': tag}" v-on:click="closeMean" class="mask"></div>
      <input id="userId" type="hidden"/>
      <script src="/skin/js/header.js"></script>
    </header>
    <!--==================================================-->
    <section id="pageList" v-cloak="v-cloak" class="pageList">
      <dl v-for="item in items.l">
        <dt>{{item.catgray}}</dt>
        <dd v-for="list in item.list"><a :href="list.url">{{list.title}}</a></dd>
      </dl>
      <dl v-for="item in items.h">
        <dt>{{item.catgray}}</dt>
        <dd v-for="list in item.list"><a :href="list.url">{{list.title}}</a></dd>
      </dl>
    </section>
    <script>
      var data={
        h:[{
          catgray:'登录注册页面...',
          list:[
          {title: '登录',url: 'passport/login.html'},
          {title: '注册',url: 'passport/register.html'},
          {title: '成功',url: 'passport/success.html'},
          {title: '忘记密码',url: 'passport/fpwd.html'},
          {title: '项目列表',url: 'project/index.html'},
          ]
        }],
        l: [{
          catgray: '首页',
          list:[{
            title: '首页',
            url: 'index/index.html'
          }]
        }]
      }
      new Vue({
        el: '#pageList',
        data: {
          items: data
        }
      })
      
    </script>
    <style>
      body{background:#fff;}
      .pageList{ width: 800px-; margin: 0 auto; padding: 20px 0; background: #fff; }
      .pageList dl{ padding: 0 20px; margin-top: 20px; }
      .pageList dl:first-child{margin-top: 0;}
      .pageList dl dt, .pageList dl dd{ padding: 0 20px; border-bottom: 1px #ccc solid; height: 30px; line-height: 30px; }
      .pageList dl dt{ background: #f8f8f8; font-size: 14px; color: #333; font-weight: bold; height: 50px; line-height: 50px; }
      .pageList dl dd{text-indent: 20px;}
      .pageList dl dd a{ display: block; }
    </style>
    <!--==================================================-->
    <div class="footer">
      <div class="info">
        <div class="container clearfix">
          <dl>
            <dt>关于大股东</dt>
            <dd>关于我们</dd>
            <dd>平台公告</dd>
            <dd>联系我们</dd>
            <dd>招贤纳士</dd>
          </dl>
          <dl>
            <dt>帮助中心</dt>
            <dd>注册登录</dd>
            <dd>转让质押</dd>
            <dd>资费标准</dd>
            <dd>投资</dd>
          </dl>
          <dl>
            <dt>资讯与活动</dt>
            <dd>站内资讯</dd>
            <dd>行业快讯</dd>
            <dd>众筹之家</dd>
            <dd>平台活动</dd>
          </dl>
          <dl>
            <dt>联系我们</dt>
            <dd><img src="http://www.dgd.vc/skin/img/ewm.png" alt="大股东"/>
              <p>联系地址：深圳市南山区科技园中区讯美科技广场3栋14层A03</p>
              <p>联系人：股东妹</p>
              <p>联系电话：0755-82557958</p>
              <p>投资Q群：306742456</p>
            </dd>
          </dl>
        </div>
      </div>
      <div class="bottom">
        <div class="container"><span>深圳市网筹互联网金融服务有限公司</span><span>ICP证：粤ICP备14040204号-2</span></div>
      </div>
    </div>
    <div id="loader" class="loader">
      <loader-inner class="ball-clip-rotate-pulse">
        <div></div>
        <div></div>
      </loader-inner>
    </div>
  </body>
</html>