/*
* @Author: suzhihui
* @Date:   2016-12-19 11:32:37
* @Last Modified by:   老苏
* @Last Modified time: 2016-12-19 11:43:41
*/

.qa-banner{
  background:red;
  height: 100px;
  img{
    width: 100%;
  }
}