.banner {
  margin-top: 40px;
}

.joinus-item-title {
  font-size: 24px;
  color: #41d4dc;
  padding-bottom: 12px;
  margin-bottom: 22px;
  line-height: 30px;
  border-bottom: 1px solid #dbdcdc;
}

.joinus-item {
  margin-top: 40px;
  &-content {
    font-size: 16px;
    line-height: 30px;
    color: #454545;
    p {
      margin-bottom: 20px;
    }
  }
}