extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/order/order.css")
  .order-warp
    .container.clearfix
      //- 步骤
      .order-step
        dl.cur
          dt
            i.icon.icon-os
          dd 信息填写
        dl.cur
          dt
            i.icon.icon-os
          dd 订单支付
        dl.cur
          dt
            i.icon.icon-os
          dd 订单完成