@{
    ViewBag.Title = "大股东 - 首页";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string imgSize = "@1e_1c_0o_0l_320h_230w_90q.src";
}
<link rel="stylesheet" href="/skin/plugs/owl-carousel/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="/skin/plugs/owl-carousel/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="/skin/css/index/index.css" />
<div id="model-index">
    <div class="dgd-ad">
        <div id="dgd-ad" class="owl-carousel owl-theme">
            <div v-for="item in Ad.ChannelList" v-cloak="" class="item"><a v-bind:href="item.Link"><img v-bind:src="item.Pic" alt="" v-cloak="" /></a></div>
        </div>
    </div>
    <section class="dgd-num border-1px">
        <div class="dgd-num-warp"><span class="item"><span class="item-r"><span class="num">@{ var count = BLL.UserInfo.UserInfoManager.CreateInstance().Count(); @count; }</span><span class="title">总注册人数</span></span></span><span class="item"><span class="item-r"><span class="num">@{ var proCount = BLL.ZcProject.ZcProjectManager.CreateInstance().Count();@proCount; }</span><span class="title">总项目数</span></span></span><span class="item"><span class="item-r"><span class="num">@{ var Amount = BLL.ZcProject.ZC_OrderManager.CreateInstance().QueryAmount();@Amount; }</span><span class="title">总融资金额（万元）</span></span></span></div>
    </section>
    <section class="dgd-ga">
        <div class="container clearfix">
            <div class="ga-side">
                <div class="dgd-plat-gg">
                    <div class="title"><span>平台公告</span><a href="/Notice/Index" target="_blank" class="more">更多公告 >></a></div>
                    <div id="ggSlider" v-bind:class="{isMobile: headerModel.isMobileOrTable}" class="content">
                        <ul>
                            <li v-for="item in Ad.NoticeList" class="clearfix"><span class="time">{{item.PostDate}}</span><a v-bind:href="['/Notice/Detail/'+item.NoticeID]" class="title ellipsis">{{item.Title}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ga-main ga-tab">
                <div class="ga-tab-btns clearfix"><a href="javascript:void(0);" v-for="(item, index) in tabs" v-bind:class="{ cur : index == 0 }" v-on:click="tabFn(CategoryMap[index], index)" ref="tab-btns" class="ga-tab-btn">{{item}}</a><a href="/news" target="_blank" class="more">更多资讯 >></a></div>
                <div class="ga-tab-box">
                    <ul>
                        <li v-for="(item, index) in list" v-if="index==0" class="first clearfix">
                            <a href="#" class="pic">
                                <img v-bind:src="resizeImg(item.CoverMobilePic,200,125)" v-if="item.CoverMobilePic" alt="" />
                                <img src="/skin/img/default.jpg" v-else alt="" />
                            </a>
                            <div class="desc">
                                <a v-bind:href="['/news/detail?id='+ item.NewsID]" class="title ellipsis">{{item.Title}}</a>
                                <p v-html="item.Abstract" class="txt"></p>
                            </div>
                        </li>
                        <li v-else="v-else"><span v-text="timeFormart(new Date().getFullYear()+'/'+item.PostDate)" class="time"></span><a v-bind:href="['/news/detail?id='+ item.NewsID]" class="title ellipsis">{{item.Title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="stand-bao">
        <div class="container">
            <div class="common-t"><span>站岗宝</span></div>
            <ul class="common-list">
                <li class="list-item">
                    <div class="list-pic">
                        <a href="#"><img src="../skin/img/project/list-img01.jpg" alt="" /></a>
                    </div>
                    <div class="list-main">
                        <div class="list-t border-1px">
                            <div class="list-st">{{Ad.StandGuard&&Ad.StandGuard.Title}}</div><a href="#" class="buy-now"><i class="icon icon-money"></i>我要认购</a>
                        </div>
                        <div class="list-con">
                            <div class="list-info list-info-st">
                                "站岗宝 复合年化利率高达8%"
                                <p class="item"><span>{{Ad.StandGuard&&Ad.StandGuard.DailyIncome}}</span></p>
                                <p class="item"><span>{{Ad.StandGuard&&Ad.StandGuard.Summary}}</span></p>
                                <p class="item price"><span>可购余额：</span><span>{{Ad.StandGuard&&Ad.StandGuard.Amount}}</span></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="stand-bao">
        <div class="container">
            <div class="common-t"><span>融资的项目</span></div>
            <ul class="common-list">
                <li v-for="(item, index) in Ad.projectList" class="list-item">
                    <div class="list-pic">
                        <a v-bind:href="['/project/detail?id='+ item.ProjectID]">
                            <img v-if="item.BigPic==null" src="/skin/img/default.jpg" alt="" />
                            <img v-else="item.BigPic!=null" v-bind:src="item.BigPic" />
                        <span v-bind:class="[&quot;tag-&quot;+item.State]" class="tag"></span>
                        </a></div>
                    <div class="list-main">
                        <div class="list-t">
                            <div class="item"><span>起投金额：</span><span class="price">{{item.LowVote}}</span></div>
                            <div class="item"><span>项目平台：</span><span class="price">智金汇</span></div><a href="javascript:void(0);" v-on:click="buyNow(item.ProjectID,index)" class="buy-now"><i class="icon icon-money"></i>我要认购</a><a href="javascript:void(0);" v-on:click="headerModel.gz(item.ProjectID, item)" v-bind:class="{ 'gz-btn-ed': item.FollowState== true }" class="gz-btn"></a>
                        </div>
                        <div class="list-con">
                            <div v-show="item.ShortDesc" class="list-txt">{{item.ShortDesc}}</div>
                            <div class="list-point"><span class="item"><span class="t">目标金额：</span><span class="val">{{item.TargetAmount}}</span></span><span class="item"><span class="t">已达金额：</span><span class="val">{{item.CurrentAmount}}</span></span><span class="item"><span class="t">众筹轮次：</span><span class="val">{{TimesRotationMap[parseInt(item.TimesRotation)-1]}}</span></span></div>
                            <div class="list-progress clearfix"><span class="t">项目进度：</span><span class="val"><span v-bind:style="{width: (100 - item.Progress) &lt; 0 ? &quot;0&quot; : (100 - item.Progress).toFixed(2)+&quot;%&quot;}" class="val-sub"></span></span><span class="num">{{parseInt(item.Progress)}}%</span></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="loading-more"><a href="/project">查看更多融资项目</a></div>
        </div>
    </section>
    <section class="transfer">
        <div class="container">
            <div class="common-t"><span>转让的项目</span></div>
            <div id="transfer-list" class="transfer-list owl-carousel owl-theme">
                <div class="item" v-for="(item,index) in transferList" v-bind:style="{backgroundImage: 'url('+item.Pic+'@imgSize)' }" v-on:mouseover="mouse(index)" v-on:mouseout="mouseOut(index)" ref="trList">
                    <div class="face">
                        <span class="tag" v-bind:class="['tag-'+item.State]"></span>
                        <div class="logo">
                           @* <img v-bind:src="item.logo" alt="" />*@
                        </div>
                        <h2 class="title">{{item.ProjectName}}</h2>
                    </div>
                    <div class="back">
                        <div class="title">{{item.ProjectName}}</div>
                        <p class="items" v-if="item.ResidualTime =='已转让'">{{item.ResidualTime}}</p>
                        <p class="items" v-else>还剩 {{item.ResidualTime}}</p>
                        <p class="items">转让金额：{{item.Amount}}元</p>
                        <p class="items">转让份额：2份</p><a v-bind:href="['/transfer/detail?id='+ item.CessionID]" class="btn">查看关联项目</a>
                    </div>
                </div>
                

               
            </div>
            <div class="loading-more"><a href="/Transfer" target="_blank">查看更多转让项目</a></div>
        </div>
    </section>
    <section class="odds">
        <div class="container">
            <div class="common-t"><span>我们的优势</span></div>
            <div class="odds-list">
                <ul class="clearfix">
                    <li>
                        <span class="pro-logo"></span>
                        <div class="title border-1px">优先项目</div>
                        <div class="txt">
                            <p>为您精选优质项目</p>
                            <p>保障资金不站岗</p>
                        </div>
                    </li>
                    <li>
                        <span class="pro-logo"></span>
                        <div class="title border-1px">质押贷款</div>
                        <div class="txt">
                            <p>资金周转轻松搞定</p>
                            <p>投资理财更灵活</p>
                        </div>
                    </li>
                    <li>
                        <span class="pro-logo"></span>
                        <div class="title border-1px">股权转让</div>
                        <div class="txt">
                            <p>解决优质资产变现</p>
                            <p>提高资金流动性</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="player">
        <div class="container">
            <div class="common-t"><span>合作机构</span></div>
            <div class="player-con clearfix">
                <div class="player-bar"><span class="prev-btn"></span><span class="next-btn"></span></div>
                <div id="player-list" class="player-list owl-carousel owl-theme">
                    <div class="item" v-for="item in plat"><img v-bind:src="item.src" alt="" /></div>                    
                </div>
            </div>
        </div>
    </section>
    <section class="links">
        <div class="container">
            <div class="common-t"><span>友情链接</span></div>
            <div class="links-list"><a v-for="item in fcLink" v-bind:href="item.SiteLink" target="_blank">{{item.SiteName}}</a></div>
        </div>
    </section>
</div>
<script src="/skin/plugs/owl-carousel/owl.carousel.min.js"></script>
<script src="/skin/js/index.js"></script>