@font-face {
  font-family: 'iconfont';  /* project id 190684 */
  src: url('//at.alicdn.com/t/font_vle99427xqg2e29.eot');
  src: url('//at.alicdn.com/t/font_vle99427xqg2e29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_vle99427xqg2e29.woff') format('woff'),
  url('//at.alicdn.com/t/font_vle99427xqg2e29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_vle99427xqg2e29.svg#iconfont') format('svg');
}

.icon{
  font-style: normal;
  display: inline-block;
  vertical-align: top;
  &::before{
    display: inline-block;
    font-family: 'iconfont';
    color: inherit;
    vertical-align: top;
  }
  &-catgray::before{
    content: '\e612';
  }
  // 用户
  &-user::before{
    content: '\e600';
  }
  // 手机
  &-phone::before{
    content: '\e620';
  }
}