@mixin border-1px($color){
  position: relative;
  &:after{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid $color;
    content: '';
  }
}

//过滤渐变
@mixin gradient($color1,$color2){
   background:-webkit-linear-gradient(45deg, $color1, $color2);
   background:-o-linear-gradient(45deg, $color1, $color2);
   background:-moz-linear-gradient(45deg, $color1, $color2);
   background:linear-gradient(45deg, $color1, $color2);
}