/*
* @Author: suzhihui
* @Date:   2016-12-29 10:25:57
* @Last Modified by:   老苏
* @Last Modified time: 2017-01-05 15:46:56
*/
html,body{
  background:#f4f4f4;
}
// scss变量
$orderC: #41d4dc;

//- 步骤
.order-step{
  background:#fff;
  margin-top: 24px;
  font-size: 0;
  padding: 5% 5% 3%;
  margin-bottom: 20px;
  dl{
    font-size:1.7rem;
    font-weight: 700;
    color: #dee3e9;
    display: inline-block;
    width: 33.333333333333%;
    text-align: center;

    dt{
      height: 18px;
      background:#dee3e9;
      text-align: center;
      .icon-os{
        width: 38px;
        height: 38px;
        margin-top: -10px;
        border-radius: 19px;
        line-height: 38px;
        font-size: 3.7rem;
        color: #dee3e9;
        position: relative;
        &::before{
          vertical-align: middle;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
        }
        &::after{
          position: absolute;
          content: '';
          display: inline-block;
          width: 80%;
          height: 80%;
          border-radius: 19px;
          background:#dee3e9;
          left: 0;
          top: 0;
        }
      }
    }

    dd{
      margin-top: 15px;
    }
    &.cur{
      color: $orderC;
      dt{
        background:$orderC;
        .icon-os{
          width: 38px;
          height: 38px;
          margin-top: -9px;
          color: $orderC;
          &::after{
            vertical-align: middle;
            background:#fff;
          }
        }
      }
    }
    &:nth-of-type(1){
      dt{
        border-radius: 9px 0 0 9px;
      }
    }
    &:nth-of-type(3){
      dt{
        border-radius: 0 9px 9px 0 ;
      }
    }
  }
}

.order-warp{
  min-height: 700px;
  font-size: 1.6rem;
  .order-title{
    height: 48px;
    line-height: 48px;
    font-size: 1.8rem;
    font-weight: 700;
    color: $orderC;
    border-bottom: 1px #d8dcdf solid;
  }

  //- 左侧
  .main{
    float: left;
    width: calc(100% - 332px);
    background:#fff;

  }

  //- 订单信息
  .order-info{
    padding: 0 20px;
    .order-body{
      // width: 380px;
      margin: 0 auto;

      .order-part{
        max-width: 310px;
        width: 100%;
        padding: 4px 50px 4px 80px;
        text-align: center;
        border: 2px #329da3 solid;
        box-shadow: 3px 3px 3px #ccc;
        margin: 28px auto 0;
        line-height: 50px;
        color: #b2b9bf;
        font-size: 1.6rem;
        position: relative;
        span{
          position: absolute;
          right: 10px;
          padding: 0 6px;
          display: inline-block;
          &.t-name{
            right: auto;
            left: 0;
            color: #616a73;
          }
        }
        input{
          width: 30%;
          max-width: 80px;
          min-width: 50px;
          border: none;
          background:none;
          text-align: center;
          font-weight: 700;
          font-size: 3rem;
          display: inline-block;
          vertical-align: middle;
          &.type1{
            width: 100%;
            max-width: 130px;
            border-bottom: 1px #d8dcdf  solid;
          }
        }
        .icon{
          width: 26px;
          height: 26px;
          background:$orderC;
          vertical-align: middle;
          line-height: 26px;
          border-radius: 4px;
          color: #fff;
          margin-top: -2px;
          cursor: pointer;
        }
      }
      .order-tips{

        font-size: 1.4rem;
        margin-top: 10px;
        text-align: center;
        .red{
          color: #fe3242;
        }
      }
      .order-note{
        font-size: 1.4rem;
        margin-top: 10px;
        border-top: 1px #ccc dashed;
        padding: 6px 0;
      }
      ul{
        margin-top: 10px;
        li{
          text-align: center;
          padding: 4px 0;
          .red{
            color: #fe3242;
          }
          &.coupon-list{
            line-height: 1.4;
            font-size:1.4rem;
            padding: 10px 0;
            .red{
              margin-top: 10px;
              text-align: left;
            }
          }
          &.gd-account{
            input[type="checkbox"]{
              opacity:0;
              display: none;
              & + i.icon{
                width: 16px;
                height: 16px;
                color:#e0e4e9;
                font-size: 1.6rem;
                margin-right: 4px;
              }
              &:checked + i.icon{
                color: $orderC;
              }
            }
          }
        }
        .t-val{
          select{
            // color: #99a0a7;
            height: 30px;
            line-height: 30px;
            // width: 80px;
          }
        }
      }
      @at-root{
        .order-way{
          color: #3e4149;
          text-align: center;
          margin-top: 6px;
          input[name='pay-type']{
            opacity:0;
            display: none;
            & + i.icon{
              width: 16px;
              height: 16px;
              color: #e0e4e9;
              font-size: 1.6rem;
              margin-right: 4px;
            }
            &:checked + i.icon{
              color: $orderC;
            }
          }
          label{
            &:hover{
              cursor: pointer;
            }
          }
          label+label{
            margin-left: 20px;
          }
        }
      }
    }
    @at-root{
    .order-footer{
      padding-bottom: 20px;
      padding-top: 16px;
      margin-top: 16px;
      border-top: 1px #d8dcdf solid;
      .order-rule{
        display: block;
        input[type="checkbox"]{
          display: none;
          opacity:0;
          & + .icon-os{
            font-size: 1.6rem;
            color: #e0e4e9;
            margin-right: 4px;
            &::after{
              vertical-align: middle;
            }
          }
          &:checked + .icon-os{
            color: $orderC;
          }
        }



        a{
          color: #3e85ff;
        }
      }
      .order-btns{
        padding-top: 10px;
        .order-total-money{
          float: left;
          color: #b2b9bf;
          span.t-val{
            color: $orderC;
            font-weight: 700;
            font-size: 2rem;
          }
        }
        .order-btn{
          float: right;
          display: inline-block;
          background:$orderC;
          color: #fff;
          padding: 5px 32px;
          border-radius: 10px;
          &:hover{
            opacity:.9;
          }
        }
      }
      .order-zf{
        text-align: center;
        font-size: 0;
        color: #99a0a7;
        span{
          font-size: 16px;
        }
        .buy{
          background:#ccc;
          color: #fff;
          border: none;
          height: 36px;
          line-height: 36px;
          padding: 0 22px;
          border-radius: 5px;
          font-weight: bold;
          font-size: 16px;
          transition: all .5s;
          cursor: not-allowed;
          &.buyOk{
            background:$orderC;
            cursor: pointer;
          }
        }
        p{
          display: inline;
        }
        .forgetPwd{
          display: inline-block;
          font-size: 16px;
          color: #99a0a7;
          margin-right: 40px;
        }
        .pwd{
          font-size: 16px;
          width: 120px;
          height: 30px;
          border: 1px #cad1d9 solid;
          padding: 0 8px;
          margin-right: 10px;
          margin-bottom: 10px;
        }

      }
    }
    }
    @at-root{


      // 支付方式
      .order-tab{
        font-size: 0;
        text-align: center;
        margin-top: 20px;
        a+a{
          border-left: 1px #fff solid;
        }
        a{
          display: inline-block;
          padding: 15px 0;
          width: 25%;
          max-width: 120px;
          font-size: 1.6rem;
          background:#cccfd3;
          color: #fff;
          &.cur,&:hover{
            background:$orderC;
          }
        }
      }
    }

    @at-root{
    .order-box{
      .order-content{
          text-align: center;
          padding: 30px 0;
          .recharge,.t-name{
            display: inline-block;
          }
          .t-name{margin-right: 30px;}
          .recharge{
            color: $orderC;
          }
      }
      // 在线支付
      &.order-online{
        text-align: center;
        padding: 30px 0;
        dt{
          height: 30px;
          line-height: 30px;
          margin-bottom: 10px;
        }
        label{
          display: inline-block;
          width: 118px;
          height: 40px;
          border: 1px #d8dcdf solid;
          background-size: cover;
          padding: 1px;
          cursor: pointer;
          input{
            opacity: 0;
            display: none;
          }
          &.baofu{
            background-image: url(/skin/img/order/icon-baofu.png);
          }
          &.fuyou{
            background-image: url(/skin/img/order/icon-fuyou.png);
          }
          &.cur{
            padding: 0;
            border-width: 2px;
            border-color: $orderC;
          }
        }
      }
      &.order-underLine{
        padding-bottom: 30px;
        .order-content{
          background:#f4f4f4;
          padding: 20px 30px;
          margin: 10px auto 0;
          text-align: left;
          color: #6b7c93;
          line-height: 30px;
          max-width: 90%;
          .icon{
            color: $orderC;
            margin-right: 4px;
            font-size: 2.6rem;
          }
          dt{
            color: #3e4149;
            margin-bottom: 6px;
          }
          dl+dl{
            margin-top: 24px;
          }
          .zjmCode{
            text-align: center;
            padding-top: 10px;
            span{
              display: block;
            }
          }
          &-m{
            background:red;
          }
        }
      }
    }
    }

  }


  //- 右侧
  .side{
    float: right;
    width: 312px;
    background:#fff;
    min-height: 200px;
    padding: 0 15px 10px;
  }
  //- 投资人信息
  .investor-info{
    ul{
      margin-top: 10px;
    }
    li{
      margin: 4px 0;
      color: #a0a6ad;
      font-size: 1.6rem;
      height: 30px;
      line-height: 30px;
      .t-name{
        display: inline-block;
        vertical-align: middle;
        width: 70px;
        text-align: right;
      }
      .t-val{
        display: inline-block;
        vertical-align: middle;
        color: #3e4149;
      }
    }

    &.order-infoS{
      li{
        .t-name{width: 80px;}

      }
      .order-footer{
        border-top: 1px #d8dcdf solid;
        margin-top: 15px;
        ul{
          margin-top: 0;

        }
        li{
          .t-val{
            font-size: 18px;
            color: #41d4dc;
            font-weight: 700;
          }
        }
      }
    }
  }
}

@mixin order-footer-850(){
  .order-footer .order-zf{
    text-align: left;
    p{
      display: block;
      .forgetPwd{
        margin-right: 22px;
      }
    }
  }
}

@mixin order-box-800() {
  .order-box{
    &.order-underLine{
      .order-content{
        max-width: 100%;
      }
    }
  }
}

@mixin order-box-480() {
  .order-box{
    &.order-underLine{
      .order-content{
        max-width: 100%;
        font-size: 1.4rem;
        line-height: 24px;
      }
    }
  }
}

@mixin orderTab-480() {
  .order-tab a{
    font-size: 1.4rem;
  }
}

@mixin orderTab-350() {
  .order-tab a{
    font-size: 1.2rem;
  }
}


@mixin order-warp-800() {
  .order-warp{
    .main,.side{ width: 100%; float: none;}
    .main{ margin-top: 20px;}
  }
  .order-way{
    label{
      display: block;
      margin: 5px 0;
      text-align: left;
    }
    label+label{
      margin-left: 0;
    }
  }
}


@media only screen and( max-width: 53.125em){
  @include order-footer-850();
}

@media only screen and( max-width: 50em){
  @include order-warp-800();
  @include order-box-800();
}

@media only screen and( max-width: 30em){
  @include orderTab-480();
  @include order-box-480();
}
@media only screen and( max-width: 21.875em){
  @include orderTab-350();
}