extends ../shade/layout
block content
  link(href="/skin/css/newsletter/notice.css", rel="stylesheet")
  
  #notice.allH
    .news-warp.notice-warp
      .container.clearfix
        .tab-bar
          .nav
              a(href="#") 快讯          
              a(href="#") 活动          
              a(href="#").cur 公告
        .notice
          .notice-detail
            .notice-t {{coverHtml.title}}
            .notice-con(v-html='coverHtml.html')



  

  script(src="/skin/js/newsletter/noticeDetail.js")
  
          