extends ../shade/layout
block content
  link(rel="stylesheet", href="../skin/css/project/project-detail.css")
  #detail(v-cloak)
    .banner
      .container
        img.detail-img(v-bind:src="detail.BigPic", alt="")
        .banner-project-wrapper
          .detail-intro
            img.banner-project-logo(src="../skin/img/project/detail-banner-project-logo.png", alt="")
            h1.project-name(v-bind:title='detail.ProjectName') {{detail.ProjectName}}
            p.project-intro(v-bind:title='detail.ShortDesc') {{detail.ShortDesc}}
            p.project-handle
              a(href="javascript:;") 关注
              | |
              a(href="javascript:;" v-on:click='share') 分享
            .iShare.iShare1
              a(href="#").iShare_qzone
                i.icon.icon-qzone
              a(href="#").iShare_tencent
                i.icon.icon-qzone
              a(href="#").iShare_weibo
                i.icon.icon-qzone

    // main
    .main-wrapper
      .container(ref='container')
        // 侧边栏
        .sidebar-wrapper(style='position: relative')
          div(ref='sidebar')
            // 我要投资
            .invest-item
              .invest-item-head
                .invest-from
                  p 起投
                  h2 ￥{{detail.OriginalLowVote}}
                .line
                .invest-target
                  p 目标金额
                  h2 ￥{{detail.TargetAmount}}
              .invest-item-body
                h2.invest-head 已认购：
                  span ￥{{detail.CurrentAmount}}
                .progress-wrapper
                  .progress(v-bind:style='{width: parseInt(detail.Progress) + "%"}')
                    span {{parseInt(detail.Progress)}}%
                ul.invest-type
                  li
                    a(href="#").pledge 可质押
                  li
                    a(href="#").stand 可站岗
                  li
                    a(href="#").transfer 可转让
                a(href="javascript:;").invest-button 我要投资
                ul.invest-desc-list
                  li 众筹轮
                    span {{TimesRotation[(detail.TimesRotation-1)]}}
                  li 出让份额：
                    span {{detail.SellStock}}
                  li 目标人数：
                    span {{detail.TargetNumber}}人
                  li 已投人数：
                    span {{totalFollowPerson}}人
            // 项目平台
            .invest-item.kf-wechat
              ul.detail-nav-tab
                li 项目平台
              ul.invest-item-body
                img(src="http://zczj01.oss-cn-shenzhen.aliyuncs.com//daohangshow/20160415/20160415141458.jpg", alt="" width='120' height='40')
            // 微信客服
            .invest-item.kf-wechat
              ul.detail-nav-tab
                li 客服微信
              ul.invest-item-body
                img(src="http://www.dgd.vc/skin/images/zjmCode.jpg", alt="" width='150')

        // 内容
        .content-wrapper(style='display:block')
          .content-item-wrapper
            ul.detail-nav-tab.detail-tab
              li(v-on:click='toggleTab(0)' v-bind:class='{current: tabShow==0}') 项目详情
              li(v-on:click='toggleTab(1)' v-bind:class='{current: tabShow==1}') 项目问答
              li(v-on:click='toggleTab(2)' v-bind:class='{current: tabShow==2}') 跟投人

            // 项目详情
            .content-box.detail-box(v-show='tabShow == 0' ref='detailBox')
              // 侧边导航
              .detail-nav-wrapper
                transition(name='opacity')
                  ul.detail-nav(v-show='detailNav' ref='detailNav')
                    li(v-for='(item, index) in detail.descList')
                      a(v-bind:href="['#detailnav'+index]" v-bind:class='{current: index == detailNavCur}' ref='detailNavBtn') {{item.Title}}
              // 项目详情
              .item-desc
                .content-item(v-for='(item, index) in detail.descList' v-bind:id='["detailnav"+index]')
                  ul.detail-nav-tab
                    li {{item.Title}}
                  .content-box(v-html='item.Desc')

            // 项目问答
            .content-box.detail-qa(v-show='tabShow == 1')
              textarea.qa-texarea(placeholder='请输入您的任何疑惑，我们会第一时间答复您')
              .qa-submit-wrapper
                a(href="javascript:;" v-on:click='AddProjectQA').qa-submit-button 提交问题
              .empty(v-if='projectQAList.length == 0')
                h3 暂无问答
              dl.qa-list(v-else v-for='qa in projectQAList')
                dt {{qa.Content}}
                  span.time {{qa.PostDate}}
                  span.time {{qa.UserName}}
                  span.qa-avatar
                    img(v-bind:src="qa.Avatar", v-bind:alt="qa.UserName" width='100%' height='100%')
                dd(v-if='qa.ChlidList.length' v-for='qachild in qa.ChlidList')
                  h2
                    img(v-bind:src="qachild.Avatar", alt="").qa-avatar
                    .qa-user-wrapper
                      h3 {{qachild.UserName}}
                      span 大股东管理员
                  p {{qachild.Content}}

            // 跟投人
            .content-box.invest-list(v-show='tabShow == 2')
              .empty(v-if='detail.FollowPerson.length == 0')
                h3 暂无跟投人
              ul(v-else)
                li(v-for='item in detail.FollowPerson')
                  img(src="http://pic01.zczj.com//avatar/nophoto.jpg", alt="" v-if='item.Avater == null').invest-avatar
                  img(v-bind:src="item.Avater", alt="" v-else='item.Avater != null').invest-avatar
                  span.tag(v-bind:class='["tag-"+item.State]')
                  p.invest-name {{item.Account}}


    // 微信分享
    transition(name='opacity')
      .h-modal-mask(v-if='wechatShare' v-on:click='wechatShare = false')
        img(src="/skin/img/project/share.png", width='100%', alt="")
    // 移动端非微信端分享
    transition(name='opacity')
      .h-modal-mask(v-if='webShare' v-on:click='webShare = false')
        .qrcode
          canvas#canvas


  script(src='../skin/js/project/project-detail.js')
  script(src='../skin/js/project/iShare.min.js')
  script(type="text/javascript").
    window.onload = function () {
      window.iShare_config = {container:'.iShare1',config:{
        title: '分享标题',
        description: '这是分享描述文本',
        url: 'https://github.com/zhansingsong',
        WXoptions:{
            evenType: 'click',
            isTitleVisibility: true,
            title: '二维码标题',
            isTipVisibility: true,
            tip: '二维码描述文本',
            qrcodeW: '120',
            qrcodeH: '120',
            qrcodeBgc: '#e1bee7',
            qrcodeFgc: '#4a148c',
            bgcolor: '#9c27b0'
        }
      }};
    }