extends ../shade/layout
block content
  link(rel="stylesheet", href="../skin/css/index.css")
  link(rel="stylesheet", href="../skin/css/project.css")
  #project-list(v-cloak)
    .banner
      img(src="../skin/img/project/banner.jpg", alt="")
    h1.project-title 投资项目
    .search-wrapper
      .container
        dl.search-box
          dt 全部项目：
          dd
            input(type="text")
            i.icon.icon-search
          dd.toggle-filter(v-on:click='subNavShow = !subNavShow') {{subNavShow ? '收起' : '展开'}}筛选
            i.icon(v-bind:class='[subNavShow? "icon-up" : "icon-down"]')
        // 面包屑导航
        .sub-nav(v-show='subNavShow')
          dl
            dt 项目类型：
            dd.select
              select
                option(value="全部") 全部
                option(value="股权型") 股权型
                option(value="收益型") 收益型
                option(value="活期宝") 活期宝
            dd
              a(href="#").current 全部
            dd
              a(href="#") 股权型
            dd
              a(href="#") 收益型
            dd
              a(href="#") 活期宝
          dl
            dt 起投金额：
            dd.select
              select
                option(value="全部") 全部
                option(value="股权型") 股权型
                option(value="收益型") 收益型
                option(value="活期宝") 活期宝
            dd
              a(href="#") 全部
            dd
              a(href="#").current 股权型
            dd
              a(href="#") 收益型
            dd
              a(href="#") 活期宝
          dl
            dt 所处地区：
            dd.select
              select
                option(value="全部") 全部
                option(value="股权型") 股权型
                option(value="收益型") 收益型
                option(value="活期宝") 活期宝
            dd
              a(href="#") 全部
            dd
              a(href="#") 股权型
            dd
              a(href="#").current 收益型
            dd
              a(href="#") 活期宝
        // 列表
    .list-wrapper
      .container
        section.stand-bao(v-for='item in list')
          ul.common-list
            li.list-item
              .list-pic
                a(href="#")
                  img(src="../skin/img/default.jpg", alt="" v-if='item.BigPic == null')
                  img(v-bind:src="item.BigPic", alt="" v-else='item.BigPic != null')
                  span.tag(v-bind:class='["tag-"+item.State]')
              .list-main
                .list-t
                  .item
                    span 起投金额：
                    span.price {{item.LowVote}}
                  .item
                    span 项目平台：
                    span.price 智金汇
                  a.buy-now(href="#")
                    i.icon.icon-money
                    |我要认购
                  a.gz-btn(href="#")
                .list-con
                  .list-txt.
                    {{item.ShortDesc}}
                  .list-point
                    span.item
                      span.t 目标金额：
                      span.val {{item.TargetAmount}}
                    span.item
                      span.t 已达金额：
                      span.val {{item.CurrentAmount}}
                    span.item
                      span.t 众筹轮次：
                      span.val 种子期
                  .list-progress.clearfix
                    span.t 项目进度：
                    span.val
                      span.val-sub(v-bind:style='{width: (100 - item.Progress) < 0 ? "0" : (100 - item.Progress).toFixed(2)+"%"}')
                    span.num {{parseInt(item.Progress)}}%
        // 分页
        .pagation
          a(href="javascript:;") 上一页
          //- a(href="javascript:;" v-for='(pg, index) in pagations' v-bind:class='{current: (index+1) == currentpage}') {{index+1}}
          a(href="javascript:;" v-on:click='next') 下一页

  script(src="//cdn.bootcss.com/axios/0.15.3/axios.min.js")
  script(src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js")
  script.
    var data = []
    Vue.prototype.$http = axios
    new Vue({
      el: '#project-list',
      data: {
        pageSize: 6,
        currentpage: 1,
        state: 0,
        token: 1,
        list: [],
        pagation: '',
        subNavShow: true,
      },
      methods: {
        // 下一页
        next: function () {
          this.currentpage++
          this.getData()
        },
        //- vue-resource
        getData: function () {
          var url2 = 'http://devapi.zczj.com:80/api/ZhongChou/GetList?pagesize='+this.pageSize+'&state='+this.state+'&currentpage='+this.currentpage+'&token='+this.token

          $("#loader").fadeIn(300)

          this.$http.get(url2).then(function (response) {
            this.list = response.data.projectList
            console.log(this.list)
            $("#loader").fadeOut(300)
          })
        }
      },
      computed: {

      },
      created: function () {
        this.getData()
        //- this.getList()
      }
    })
