extends ../shade/layout
block content
  link(rel="stylesheet", href="../skin/css/project.css")
  #project-list(v-cloak)
    .banner
      img(src="../skin/img/project/banner.jpg", alt="")
    h1.project-title 投资项目
    .search-wrapper
      .container
        dl.search-box
          dt 全部项目：
          dd
            input(type="text")
            i.icon.icon-search
          dd.toggle-filter(v-on:click='subNavShow = !subNavShow')
            span {{subNavShow ? '收起' : '展开'}}筛选
            i.icon(v-bind:class='[subNavShow? "icon-up" : "icon-down"]')
        // 面包屑导航
        .sub-nav(v-show='subNavShow')
          dl
            dt 项目类型：
            dd.select
              select
                option(value="全部") 全部
                option(value="股权型") 股权型
                option(value="收益型") 收益型
                option(value="活期宝") 活期宝
            dd
              a(href="#").current 全部
            dd
              a(href="#") 股权型
            dd
              a(href="#") 收益型
            dd
              a(href="#") 活期宝
          dl
            dt 起投金额：
            dd.select
              select
                option(value="全部") 全部
                option(value="股权型") 股权型
                option(value="收益型") 收益型
                option(value="活期宝") 活期宝
            dd
              a(href="#") 全部
            dd
              a(href="#").current 股权型
            dd
              a(href="#") 收益型
            dd
              a(href="#") 活期宝
          dl
            dt 所处地区：
            dd.select
              select
                option(value="全部") 全部
                option(value="股权型") 股权型
                option(value="收益型") 收益型
                option(value="活期宝") 活期宝
            dd
              a(href="#") 全部
            dd
              a(href="#") 股权型
            dd
              a(href="#").current 收益型
            dd
              a(href="#") 活期宝
        // 列表
    .list-wrapper
      .container
        section.stand-bao
          ul.common-list
            li.list-item(v-for='(item, ii) in list')
              .list-pic
                a(:href="['./detail.html?'+item.ProjectID]")
                  img(src="../skin/img/default.jpg", alt="" v-if='item.MiddlePic == null')
                  img(v-bind:src="item.MiddlePic", alt="" v-else='item.MiddlePic != null')
                  span.tag(v-bind:class='["tag-"+item.State]')
              .list-main
                .list-t
                  .item
                    span 起投金额：
                    span.price {{item.LowVote}}
                  .item
                    span 项目平台：
                    span.price {{ii}} - 智金汇 {{item.ProjectID}}
                  a.buy-now(href="#")
                    i.icon.icon-money
                    |我要认购
                  a.gz-btn(href="javascript:;" v-on:click='gz(ii)')
                .list-con
                  .list-txt.
                    {{item.ShortDesc}}
                  .list-point
                    span.item
                      span.t 目标金额：
                      span.val {{item.TargetAmount}}
                    span.item
                      span.t 已达金额：
                      span.val {{item.CurrentAmount}}
                    span.item
                      span.t 众筹轮次：
                      span.val {{TimesRotation[(item.TimesRotation-1)]}}
                  .list-progress.clearfix
                    span.t 项目进度：
                    span.val
                      span.val-sub(v-bind:style='{width: (100 - item.Progress) < 0 ? "0" : (100 - item.Progress).toFixed(2)+"%"}')
                    span.num {{parseInt(item.Progress)}}%
        // 分页
        .pagination
          a(href="javascript:;" v-on:click='firstPage' v-show='prevShow') 首页
          a(href="javascript:;" v-on:click='prevPage' v-show='prevShow') 上一页
          a(href="javascript:;" v-for='pg in totalPages.arr' v-bind:class='{current: pg == currentpage}' v-on:click='paginationTo(pg)') {{pg}}
          a.ellipsis(href="javascript:;" v-show='ellipsis') ...
          a(href="javascript:;" v-on:click='nextPage' v-show='nextShow') 下一页
          a(href="javascript:;" v-on:click='lastPage' v-show='nextShow') 尾页

        .loading-more
          a(href="javascript:void(0);" v-on:click='loadMore') 查看更多融资项目


  script(src='../skin/js/project.js')
