// 页面切换加载动画
#loader.loader
  div
    loader-inner.ball-clip-rotate-pulse
      div
      div
section#header
  // 操作loading动画
  transition(name='opacity')
    .detail-loading.g-dialog-contianer(v-show='loading')
      .dialog-window
        .dialog-header.loading

  .header-top(v-if="!isMobileOrTable")
    .container.clearfix
      .header-top-l
        span.tel
          i.icon.icon-tel
          |客服：400-066-8606
        span.gzus
          |关注我们：
          a(href="http://weibo.com/wow36kr" target="_brank")
            i.icon.icon-sina
          span.top-wx
            i.icon.icon-wx
            .pop-up.pop-wx
              img(src="http://www.dgd.vc/skin/img/ewm.png", alt="", width="120", height="120")
        span.app
          i.icon.icon-phone
          |下载APP
          .pop-up.pop-app
            img(src="https://www.zczj.com/skin/images/downApp/ma.png", alt="",width="120", height="120")
      .header-top-r
        span.msg
          i.icon.icon-msgTop.icon-msgC
          |我的消息
        span.top-login(v-if="!isLogin")
          a(v-bind:href="['/passport/login.html?url='+window.location.href]") 登录
          span.line |
          a(href="/passport/register.html") 注册
        span.top-login(v-else="")
          a(href="/mycenter/index")
            img(v-bind:src="userInfo.Avatar", alt="")
          span.user-name.ellipsis {{userInfo.UserName}}
          .user-pop.pop-up
            a.userinfo.clearfix(href="/", :title="userInfo.Avatar")
              img(:src="userInfo.Avatar", alt="")
              span {{userInfo.UserName}}
            .menu
              a(href="#") 我的帐户
              a(href="#") 我的交易
              a(href="#") 我的质押
              a(href="#") 我的优惠券
              a(href="#") 安全中心
              a(href="javascript:void(0);", v-if="isLogin", v-on:click="loginOut()") 退出


        span.go-zczj
          a(href="http://www.zczj.com")
            .icon.icon-zczj-b
            |前往之家
  header
    .header-warp(ref='header')
      .container.clearfix
        .nav.clearfix(v-bind:class="{navLogin: isLogin}")
          a.logo(href="/")
            img(src="/skin/img/logo.png", alt="")
          .triggers
            a(href="#", v-on:click="showMean").mean-btn
              i.icon.icon-catgray
          nav(v-bind:class="{ navShow: tag }", v-cloak="")
            a(v-for="(item, index) in navs", :href="item.url", v-bind:class="{ cur : index == 0 }").border-1px {{item.title}}
            a.mobile-show.border-1px(href="javascript:void(0);", v-if="isLogin", v-on:click="loginOut()") 退出
          .login-btns(v-if="isMobileOrTable")
            ul.tool-nav
              li.login-btn(v-if="!isLogin")
                .item
                  a(v-bind:href="['/passport/login.html?url='+window.location.href]") 登录
                  span.line |
                  a(href="/passport/register.html") 注册
              li.login-btn(v-else="")
                .item.avatar
                  a(href="/mycenter/index")
                    img(:src="userInfo.Avatar", alt="")
                  .user-pop.pop-up
                    a.userinfo.clearfix(href="/", :title="userInfo.Avatar")
                      img(:src="userInfo.Avatar", alt="")
                      span {{userInfo.UserName}}
                    .menu
                      a(href="#") 我的帐户
                      a(href="#") 我的交易
                      a(href="#") 我的质押
                      a(href="#") 我的优惠券
                      a(href="#") 安全中心
                      a(href="javascript:void(0);", v-if="isLogin", v-on:click="loginOut()") 退出


                //- .item
                //-   a(href="/") 退出
              li.go-zczj
                a.item(href="http://m.dgd.vc/") 前往之家
    //- 遮罩层
    .mask( v-bind:class="{'mask-show': tag}", v-on:click="closeMean")
    input#userId(type="hidden")



    script(src="/skin/js/header.js")