header#header
  .container.clearfix
    .nav(v-bind:class="{navLogin: !isLogin}")
      a.logo(href="/")
        img(src="/skin/img/logo.png", alt="")
      .triggers
        a(href="#", v-on:click="showMean").mean-btn
          i.icon.icon-catgray
      nav(v-bind:class="{ navShow: tag }", v-cloak="")
        a(href="#",v-for="(item, index) in navs", v-bind:class="{ cur : index == 0 }").border-1px {{item}}
      .login-btns
        ul.tool-nav
          li.login-btn
            .login(v-if="isLogin")
              .item
                a(href="/passport/login.html") 登录
              span.line |
              .item
                a(href="/passport/register.html") 注册
            .login(v-else="")
              .item.avatar
                a(href="/mycenter/index")
                  img(:src="userInfo.Avatar", alt="")
              //- .item
              //-   a(href="/") 退出
          li.go-zczj
            a(href="http://m.dgd.vc/") 前往之家
  //- 遮罩层
  .mask( v-bind:class="{'mask-show': tag}", v-on:click="closeMean")
  input#userId(type="hidden")
  script(src="/skin/js/header.js")