<!DOCTYPE html>
html(lang="zh-CN")
  head
    meta( http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta( name="viewport", content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui")
    meta( content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    title Document
    link(rel="stylesheet", href="/skin/plugs/normalize-css/normalize.css")
    link(rel="stylesheet", href="/skin/css/base.css")
    //- 引用js
    script(src="http://www.zczj.com/skin/js/jquery.min.js")
    script(src="//cdn.bootcss.com/vue/2.0.5/vue.min.js")
    script(src="/skin/js/util.js")
  body
    include header
    //==================================================
    block content
    //==================================================
    include footer
