<!DOCTYPE html>
html(lang="zh-CN")
  head
    meta( http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta( name="viewport", content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui")
    meta( content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    title 大股东
    style.
      body{
        font-family: '微软雅黑';
        font-size: 14px;
        color: #8c9cb1;
      }
      .unsupport-wrapper{
        width: 794px;
        height: 516px;
        margin: 40px auto;
        background: url(/skin/img/unsupport_bg.png);
      }
      .unsupport-wrapper h2{
        text-align: center;
        font-size: 14px;
        font-weight: normal;
      }
      .logo-wrapper{
        text-align: center;
        padding-top: 20px;
      }
      ul{
        padding: 0;
        list-style: none;
        width: 450px;
        margin: 0 auto;
      }
      li{
        margin: 10px 0;
      }
      .qrcode{
        text-align: center;
      }
      li img{
        width: 150px;
      }

  body
    .unsupport-wrapper
      .logo-wrapper
        img(src="/skin/img/logo.png", alt="")
      h2 很抱歉，您的浏览器版本太低,存在安全隐患,无法使用新版大股东官网
      ul
        li 您可以：
        li 下载最新版Chrome浏览器使用；
        li 您也可以使用最新版360浏览器、搜狗浏览器、猎豹浏览器的极（高）速模式使用该功能。
        li 下载使用最新的大股东手机客户端(Android & iOS);
        li.qrcode 
          img(src="http://www.dgd.vc/skin/images/code.jpg", alt="")
