extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/transfer/detail.css")
  link(rel="stylesheet", href="/skin/css/transfer/popup.css")
  #popup
    .popup-mask(v-if='popup')
    transition(name='pulldown', v-on:after-enter="afterEnter")
      .wrapper(v-if='popup')
        .header 私信约谈
          a(href="javascript:;",v-on:click='popup=false').icon.icon-close 
        .content
          textarea(placeholder='说点什么...', ref='msgBox')
          .button-wrapper.clearfix
            a(href='javascript:;',v-on:click='sendMsg').button.purchase-button 确定
            a(href='javascript:;',v-on:click='popup=false').button.interview-button 取消
  #transfer-detail.allH
    .container.clearfix
      .transfer-detail-content
        div
          // 详情
          .detail-desc
            .detail-desc-header
              ul
                li
                  .detail-tag.detail-ing
                  .detail-title 真功夫邀你来做股东
                li
                  .detail-intro 老板融资开新店，以老店利润分红
                    a(href="#").detail-association 查看关联项目>
            .detail-desc-con
              ul.clearfix
                li
                  span 转让金额（元）:
                  span 40,000.00
                li
                  span 转让方：
                  span 张 * *
              ul.clearfix
                li
                  span 转让份额（元）:
                  span 1.25%
                li
                  span 原始投资时间：
                  span 2016年07月03日15:00
              ul.clearfix
                li
                  span 原始金额（元）:
                  span 40,000.00
                li
                  span 转让剩余时间：
                  span 10天10小时10分10秒
              a(href="javascrip:;", v-on:click='popupModel.showPopup').detail-button 约谈
          // 流程
          .process
            .process-header
              h2 转让流程
            .process-con
              img(src="../skin/img/transfer/process.png", alt="")
      // 侧边栏
      .transfer-detail-sidebar
        .sidebar-header
          h2 可用余额：
            span 12,000.00元
        ul.sidebar-con
          li
            span 购买余额：
            input(type="text")
            | 元
          li
            span 交易密码：
            input(type="text")
          li.forgot-pwd
            span 交易密码：
            a(href="#") 忘记密码
        ul.btns
          li
            label
              input(type="checkbox")
              | 同意
              a(href="#") 《大股东权益转让协议》
          li
            a(href="#").button 确认购买
  script(src='/skin/js/transfer/popup.js')
  script.
    
    new Vue({
      el: '#transfer-detail',
      mounted: function () {
        $('#loader').fadeOut('300')
      }
    })