extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/transfer/index.css")
  #transfer-list
    // banner
    a(href="#").banner
    // 标题
    h1.transfer-title 权益转让
    // 列表
    .container
      .transfer-list
        .transfer-header
          .transfer-tag.transfer-ing
          .transfer-project-title 真功夫邀你来做股东
          .transfer-project-intro 老板融资开新店，以老店利润分红
          a(href="#").transfer-association 查看关联项目>
        .transfer-content.clearfix
          .param
            ul.amount.clearfix
              li 转让金额（元）:
                span 40,000.00
              li 原始金额（元）：
                span 40,000.00
              li 原始投资时间：
                span 2016年07月03日15:00
            ul.amount.clearfix
              li 转让金额（元）:
                span 40,000.00
              li 原始金额（元）：
                span 40,000.00
              li 原始投资时间：
                span 2016年07月03日15:00
          .buttons.clearfix
            a(href="javascript:;").button.interview-button 约谈
            a(href="#").button.purchase-button 我要购买
      .transfer-list
        .transfer-header
          .transfer-tag.transfer-ing
          .transfer-project-title 真功夫邀你来做股东
          .transfer-project-intro 老板融资开新店，以老店利润分红
          a(href="#").transfer-association 查看关联项目>
        .transfer-content.clearfix
          .param
            ul.amount.clearfix
              li 转让金额（元）:
                span 40,000.00
              li 原始金额（元）：
                span 40,000.00
              li 原始投资时间：
                span 2016年07月03日15:00
            ul.amount.clearfix
              li 转让金额（元）:
                span 40,000.00
              li 原始金额（元）：
                span 40,000.00
              li 原始投资时间：
                span 2016年07月03日15:00
          .buttons.clearfix
            a(href="javascript:;").button.interview-button 约谈
            a(href="#").button.purchase-button 我要购买
      .transfer-list
        .transfer-header
          .transfer-tag.transfer-ing
          .transfer-project-title 真功夫邀你来做股东
          .transfer-project-intro 老板融资开新店，以老店利润分红
          a(href="#").transfer-association 查看关联项目>
        .transfer-content.clearfix
          .param
            ul.amount.clearfix
              li 转让金额（元）:
                span 40,000.00
              li 原始金额（元）：
                span 40,000.00
              li 原始投资时间：
                span 2016年07月03日15:00
            ul.amount.clearfix
              li 转让金额（元）:
                span 40,000.00
              li 原始金额（元）：
                span 40,000.00
              li 原始投资时间：
                span 2016年07月03日15:00
          .buttons.clearfix
            a(href="javascript:;").button.interview-button 约谈
            a(href="#").button.purchase-button 我要购买
      .transfer-list
        .transfer-header
          .transfer-tag.transfer-ing
          .transfer-project-title 真功夫邀你来做股东
          .transfer-project-intro 老板融资开新店，以老店利润分红
          a(href="#").transfer-association 查看关联项目>
        .transfer-content.clearfix
          .param
            ul.amount.clearfix
              li 转让金额（元）:
                span 40,000.00
              li 原始金额（元）：
                span 40,000.00
              li 原始投资时间：
                span 2016年07月03日15:00
            ul.amount.clearfix
              li 转让金额（元）:
                span 40,000.00
              li 原始金额（元）：
                span 40,000.00
              li 原始投资时间：
                span 2016年07月03日15:00
          .buttons.clearfix
            a(href="javascript:;").button.interview-button 约谈
            a(href="#").button.purchase-button 我要购买

