extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/transfer/index.css")
  link(rel="stylesheet", href="/skin/css/transfer/popup.css")
  #popup
    .popup-mask(v-if='popup')
    transition(name='pulldown', v-on:after-enter="afterEnter")
      .wrapper(v-if='popup')
        .header 私信约谈
          a(href="javascript:;",v-on:click='popup=false').icon.icon-close 
        .content
          textarea(placeholder='说点什么...', ref='msgBox')
          .button-wrapper.clearfix
            a(href='javascript:;',v-on:click='sendMsg').button.purchase-button 确定
            a(href='javascript:;',v-on:click='popup=false').button.interview-button 取消
  #transfer-list.allH
    // banner
    a(href="#").banner
    // 标题
    h1.transfer-title 权益转让
    // 列表
    .container
      .transfer-list
        .transfer-header
          .transfer-tag.transfer-ing
          .transfer-project-title 真功夫邀你来做股东
          .transfer-project-intro 老板融资开新店，以老店利润分红
          a(href="#").transfer-association 查看关联项目>
        .transfer-content.clearfix
          .param
            ul.amount.clearfix
              li
                span.name 转让金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始投资时间
                | ：
                span 2016年07月03日15:00
            ul.amount.clearfix
              li
                span.name 转让金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始投资时间
                | ：
                span 2016年07月03日15:00
          .buttons.clearfix
            a(href="javascript:;", v-on:click='popupModel.showPopup').button.interview-button 约谈
            a(href="#").button.purchase-button 1我要购买
      .transfer-list
        .transfer-header
          .transfer-tag.transfer-ing
          .transfer-project-title 真功夫邀你来做股东
          .transfer-project-intro 老板融资开新店，以老店利润分红
          a(href="#").transfer-association 查看关联项目>
        .transfer-content.clearfix
          .param
            ul.amount.clearfix
              li
                span.name 转让金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始投资时间
                | ：
                span 2016年07月03日15:00
            ul.amount.clearfix
              li
                span.name 转让金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始投资时间
                | ：
                span 2016年07月03日15:00
          .buttons.clearfix
            a(href="javascript:;").button.interview-button 约谈
            a(href="#").button.purchase-button 我要购买
      .transfer-list
        .transfer-header
          .transfer-tag.transfer-over
          .transfer-project-title 真功夫邀你来做股东
          .transfer-project-intro 老板融资开新店，以老店利润分红
          a(href="#").transfer-association 查看关联项目>
        .transfer-content.clearfix
          .param
            ul.amount.clearfix
              li
                span.name 转让金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始投资时间
                | ：
                span 2016年07月03日15:00
            ul.amount.clearfix
              li
                span.name 转让金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始投资时间
                | ：
                span 2016年07月03日15:00
          .buttons.clearfix
            a(href="javascript:;").button.interview-button.finished-button 约谈
            a(href="#").button.purchase-button.finished-button 我要购买
      .transfer-list
        .transfer-header
          .transfer-tag.transfer-finished
          .transfer-project-title 真功夫邀你来做股东
          .transfer-project-intro 老板融资开新店，以老店利润分红
          a(href="#").transfer-association 查看关联项目>
        .transfer-content.clearfix
          .param
            ul.amount.clearfix
              li
                span.name 转让金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始投资时间
                | ：
                span 2016年07月03日15:00
            ul.amount.clearfix
              li
                span.name 转让金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始金额（元）
                | ：
                span 40,000.00
              li
                span.name 原始投资时间
                | ：
                span 2016年07月03日15:00
          .buttons.clearfix
            a(href="javascript:;").button.interview-button.finished-button 约谈
            a(href="#").button.purchase-button.finished-button 我要购买


  script(src='/skin/js/transfer/popup.js')
  script.
    
    new Vue({
      el: '#transfer-list',
      mounted: function () {
        $('#loader').fadeOut('300')
      }
    })