extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/about/joinus.css")
  #join-us
    .container
      .banner
        img(src="/skin/img/about/joinus-banner.jpg", alt="", width='100%')
      
      .joinus-item
        .joinus-item-title 加入我们
        .joinus-item-content
          p 我们是一个年轻的团队。年轻的人，年轻的事，也成长在一个年轻而富有热情的领域。我们期待简单高效的沟通方式，喜欢平等愉快的工作境，这里是个不错的地方，我们都这样认为：）我们开放了一些职位，欢迎对号入座。如果您喜欢【大股东】但下面列表里并没有想要做的事情，我们更欢迎直接发来邮件，跟我们讲「Hey，或许我能帮大股东做些什么！」
          p 请将简历投递至： hr@zczj.com

      .joinus-item
        .joinus-item-title 职位列表
        .joinus-item-content
          p 我们是一个年轻的团队。年轻的人，年轻的事，也成长在一个年轻而富有热情的领域。我们期待简单高效的沟通方式，喜欢平等愉快的工作境，这里是个不错的地方，我们都这样认为：）我们开放了一些职位，欢迎对号入座。如果您喜欢【大股东】但下面列表里并没有想要做的事情，我们更欢迎直接发来邮件，跟我们讲「Hey，或许我能帮大股东做些什么！」
          p 请将简历投递至： hr@zczj.com



  script.
    $('#loader').fadeOut(300)