extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/plugs/owl-carousel/owl.carousel.css")
  link(rel="stylesheet", href="/skin/css/about.css")

  .qa-banner.owl-carousel.owl-theme
    img(src="/skin/img/about/banner-1200.jpg", alt="")
  .qa-content
    .container
      .qa-head
      .qa-list
        .item
          .qa-icon
          .qa-categray 个人账户问题
          .qa-icon
          .qa-categray 项目投资问题
          .qa-icon
          .qa-categray 投后管理问题
          .qa-icon
          .qa-categray 股权质押问题
          .qa-icon
          .qa-categray 站岗宝问题
          .qa-icon
          .qa-categray 我要提问

  script(src="/skin/plugs/owl-carousel/owl.carousel.min.js")
  script(src="/skin/js/index.js")