@import '../comStyle/mixin.scss';
@import "../comStyle/font.scss";
/************
 * 共用样式
 ************/

/*基本默认值  */

html {
    font-size: 62.5%;
    color: #222;
    font-family: "微软雅黑";
}
html,body{
  min-height: 100%; overflow-x: hidden;
}
::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul,dl,dt,dd,li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/*
   工具样式
    */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .border-1px{
    &::after{
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .border-1px{
    &::after{
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
  .border-1px{
    &::after{
      -webkit-transform: scaleY(0.3);
      transform: scaleY(0.3);
    }
  }
}

/*
   浏览器更新提示
    */

.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

/*
   自定义页面样式
    */

body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #5ee075;
    //text-decoration: underline;
}

.container{ max-width: 1100px; margin: 0 auto;}
/**
 * 头部
 */

body{
  position: relative; min-height: 100%;
}

header{
    height: 100px; background:#fff;
    .container{ height: 100%; position: relative;}
    .nav{
      .logo{
        position: absolute; left: 15px; top: 15px;
      }
      .triggers{ display: none;
        a{
          display: inline-block; width: 100px; height: 100%;
        }
      }
      nav{
        float: left; padding-left: 220px;
        a{
          display: block; height: 100px; line-height: 100px; position: relative; float: left; font-size: 18px; color: #494949; padding: 0 15px;
          &.cur,&:hover{
            color: #5ee075; text-decoration: none;
          }
        }
      }
    }
    .login-btns{
      float: right;
      .tool-nav{
        & > li{
          float: left;
          height: 30px;
          line-height: 30px;
          display: inline-block;
          vertical-align: middle;
          margin: 34px 0 0 20px;
          border: 1px #47ca60 solid;
          border-radius: 15px;
          padding: 0 15px;
          font-size: 1.8rem;
          color: #5ee075;
          a{
                color: #5ee075;
              }
          .login{
            .item{
              display: inline-block;
            }
          }
          &.go-zczj{
            &::before{
              display: inline-block; content:''; background:url(../img/icon-zczj.png); width: 23px; height: 12px; vertical-align: middle; margin-top: -2px;
            }
          }
        }
      }
    }
  }
@mixin header--sm() {
  html.holding, body.holding {
     height: 100%;
     overflow: hidden;
  }
  body.holding::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    content:'';
    z-index: 1000;
  }
  header{
    .nav{
       height: 100%;
      .triggers{
        display: block; text-align: right; height: 100%; width: 100%;
        .mean-btn{
          font-size: 4rem; text-align: center;
          .icon{
            display: inline-block; margin-top: 15px;
          }
        }
      }
      nav{
          transition: transform 0.3s ease;
          padding-top: 62px;
          padding-left: 0;
          display: block;
          height: 2000px;
          background:#38415c;
          width: 130px;
          position: absolute;
          top: 0;
          right: -130px;
          z-index: 1001;
          a{
            display: block;
            height: 44px;
            line-height: 44px;
            text-align: left;
            color: #fff;
            float: none;
            @include border-1px(#4e5c71);
            &.cur{
              background:#262d40;
            }

          }


        &.navShow{
          transform:translate(-130px, 0);
        }
      }
    }
    .login-btns .tool-nav > li{
        display: none;
    }
  }

  body{
    transition: transform 0.3s ease;
    &.slide-left{
      transform:translate(-130px, 0);
      margin-right: -130px;
      padding-right: 130px;
    }
  }

}

@mixin header--ss() {
  header{
    height: 60px;
    .nav{
      .logo{
        top: 8px;
        img{
          width: 116px; height: 44px;
        }
      }
      .triggers > .mean-btn{
        width: 60px; font-size: 3rem;
        .icon{ margin-top: 2px;}
      }
    }
  }
}


// 小于1100px;
@media only screen and (max-width: 68.75em) {

  @include header--sm();
}

//小于800px;
@media only screen and (max-width: 50em) {

}

//小于480px;
@media only screen and (max-width: 30em) {
  @include header--ss();
}