@import '../comStyle/mixin.scss';
@import "../comStyle/font.scss";
/************
 * 共用样式
 ************/
*{
  box-sizing: border-box;
}
/*基本默认值  */
[v-cloak] {display: none;}
html {
    font-size: 62.5%;
    color: #222;
    font-family: "微软雅黑";
}
html,body{
  min-height: 100%; overflow-x: hidden;
}
::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul,dl,dt,dd,li,p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
input{
  padding: 0;
  outline: none;
}
input:not([type='checkbox']){
  -webkit-appearance: none;// iOS 输入框阴影
}
/*
   工具样式
    */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .border-1px{
    &::after{
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .border-1px{
    &::after{
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
  .border-1px{
    &::after{
      -webkit-transform: scaleY(0.3);
      transform: scaleY(0.3);
    }
  }
}

/*
   浏览器更新提示
    */

.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

/*
   自定义页面样式
    */

body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #fff;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #5ee075;
    //text-decoration: underline;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 94%;
}
/**
 * 头部
 */

body{
  position: relative; min-height: 100%;
}

header{
    height: 76px; background:#fff;
    .container{ height: 100%; width: 100%; position: relative;}
    .nav{
      .logo{
        position: absolute; left: 15px; top: 15px;
        img{
          height: 46px;
        }
      }
      .triggers{ display: none;
        a{
          display: inline-block; width: 100px; height: 100%;
        }
      }
      nav{
        float: left; padding-left: 160px;
        a{
          display: block; height: 76px; line-height: 76px; position: relative; float: left; font-size: 1.8rem; color: #494949; padding: 0 15px;
          &.cur,&:hover{
            color: #00a9e0; text-decoration: none;
          }
        }
      }
    }
    .login-btns{
      float: right;
      .tool-nav{
        & > li{
          float: left;
          height: 30px;
          line-height: 30px;
          display: inline-block;
          vertical-align: top;
          margin: 20px 0 0 20px;
          border: 1px #00a9e0 solid;
          border-radius: 15px;
          padding: 0 10px;
          font-size: 1.8rem;
          color: #00a9e0;
          a{
                color: #00a9e0;
              }
          .login{
            .item{
              display: inline-block;
            }
          }
          &.go-zczj{
            &::before{
              display: inline-block; content:''; background:url(../img/icon-zczj.png); width: 20px; height: 11px; vertical-align: middle; margin-top: -2px;
            }
          }
        }
      }
    }
  }
@mixin header--1150(){
  header{
    height: 64px;
    .nav{
      .logo{
        top: 5px;
      }
      nav{
        a{
          height: 64px;
          line-height: 64px;
          font-size: 1.6rem;
        }
      }
    }
    .login-btns{
      .tool-nav{
        font-size: 0;
        & > li{
          height: 24px;
          line-height: 24px;
          margin: 20px 0 0 10px;
          border-radius: 10px;
          padding: 0 10px;
          font-size: 1.6rem;
          .login{
            font-size: 0;
            .line{font-size: 1.6rem;}
            .item{
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

@mixin header--1050(){
  header{
    .nav{
      nav{
        a{
          font-size: 1.4rem;
          padding: 0 6px;
        }
      }
    }
    .login-btns{
      .tool-nav{
        font-size: 0;
        & > li{
          padding: 0 6px;
          font-size: 1.4rem;
          .login{
            font-size: 0;
            .line{font-size: 1.4rem;}
            .item{
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
@mixin header--800() {

  html.holding, body.holding {
     height: 100%;
     overflow: hidden;
  }
  header{
    .nav{
       height: 100%;
      .triggers{
        display: block; text-align: right; height: 100%; width: 100%;
        .mean-btn{
          font-size: 4rem; text-align: center;
          .icon{
            display: inline-block; vertical-align: top;
          }
        }
      }
      nav{

          transition: transform 0.3s ease;
          padding-top: 80px;
          padding-left: 0;
          display: block;
          // height: 2000px;
          height: 100%;
          bottom: 0;
          background:#38415c;
          width: 130px;
          position: fixed;
          top: 0;
          right: -130px;
          z-index: 1001;
          a{
            display: block;
            height: 44px;
            line-height: 44px;
            text-align: left;
            color: #fff;
            float: none;
            @include border-1px(#4e5c71);
            &.cur{
              background:#262d40;
            }

          }


        &.navShow{
          transform:translate(-130px, 0);
        }
      }
    }
    .login-btns .tool-nav {
        transition: all 0.3s ease;
        position: fixed;
        right: -130px;
        top: 0;
        z-index: 1001;
        width: 130px;
        display: block;
        & > li{

          margin: 10px 5% 0;
          width: 80%;
          text-align: center;
          .item{ padding: 0 5px;}
        }
    }
  }
  .holding header .login-btns .tool-nav{
      transform:translate(-130px, 0);
  }


}

@mixin header--ss() {
  header{
    height: 60px;
    .nav{
      .logo{
        top: 8px;
        img{
          width: 116px; height: 44px;
        }
      }
      .triggers > .mean-btn{
        width: 60px; font-size: 3rem;
        .icon{ margin-top: 8px;}
      }
    }
  }
}

// 底部
.footer{
  background:#40454b;
  color: #fff;
  font-size: 0px;
  .info  dl{
    margin: 0 2rem;
    width: calc(16.666666666666668% - 4rem);
    float: left;
    font-size: 1.2rem;
    display: inline;
    dt{
      font-size: 1.7rem;
      padding: .4rem 0;
    }
    dd{
      line-height: 26px;
      p{
        line-height: 24px;
      }
    }
    &:nth-of-type(4){
      width:calc(50% - 4rem);
      img{
        float: left;
        width: 94px;
        height: 94px;
        margin-right: 10px;
      }
    }
  }
  .bottom{
    padding: 4px 10px;
    line-height: 24px;
    font-size:1.4rem;
    text-align: center;
    background:#34393f;
    margin-top: 10px;
  }
}

@mixin footer--950 () {
  .footer{
    .info dl{
      dt{
        font-size: 1.5rem;
      }
      width: calc(33.3333333333333% - 4rem);
      &:nth-of-type(4){
        display: none;
      }
    }
  }
  .bottom{
    font-size: 0;
    span{
      font-size: 1.2rem;
      display: inline-block;
    }
  }
}
@mixin footer--480 () {
  .footer{
    .info dl{
      margin: 0 1rem;
      dt{
        font-size: 1.3rem;
      }
      width: calc(33.3333333333333% - 2rem);
      &:nth-of-type(4){
        display: none;
      }
    }
  }
  .bottom{
    font-size: 0;
    span{
      font-size: 1.2rem;
      display: inline-block;
    }
  }
}

//遮罩
.mask{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background:rgba(0,0,0,0.5);
  transition: all 0.3s;
  z-index: 1000;
  &.mask-show{
    display: block;
  }
}

@media only screen and( max-width: 71.875em){
  @include header--1150();
}
@media only screen and( max-width: 62.625em){
  @include header--1050();
}
@media only screen and( max-width: 59.375em){
  @include footer--950();
}

// 小于1200px;
@media only screen and (max-width: 75em) {

  //@include header--sm();
}

//小于800px;
@media only screen and (max-width: 50em) {
  @include header--800();
}

//小于480px;
@media only screen and (max-width: 30em) {
  @include header--ss();
  @include footer--480();
}

// 切换动画
.fade-enter, .fade-leave-active{
  opacity: 0;
  transform: translateX(-60px);
}
.fade-enter-active, .fade-leave-active{
  transition: all .4s ease;
}

// loading
.loader{
  font-size: 0.4rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items:center;
  z-index: 1000;
  box-sizing: content-box;
}
.ball-clip-rotate-pulse {
  position: relative;
  box-sizing: content-box;
 }
  .ball-clip-rotate-pulse > div {
    box-sizing: content-box;
    animation-fill-mode: both;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 100%; }
    .ball-clip-rotate-pulse > div:first-child {
      box-sizing: content-box;
      background: #1fdab2;
      height: 16px;
      width: 16px;
      top: 9px;
      left: 9px;
              animation: scale 1s 0s cubic-bezier(.09, .57, .49, .9) infinite; }
    .ball-clip-rotate-pulse > div:last-child {
      box-sizing: content-box;
      position: absolute;
      border: 2px solid #1fdab2;
      width: 30px;
      height: 30px;
      background: transparent;
      border: 2px solid;
      border-color: #fff transparent #fff transparent;
              animation: rotate 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
              animation-duration: 1s; }

  @keyframes rotate {
  0% {
            transform: rotate(0deg) scale(1); }

  50% {
            transform: rotate(180deg) scale(0.6); }

  100% {
            transform: rotate(360deg) scale(1); } }