/*
* @Author: suzhihui
* @Date:   2016-12-06 16:23:02
* @Last Modified by:   老苏
* @Last Modified time: 2016-12-13 18:08:45
*/
@import "../comStyle/mixin.scss";
//轮播图
.dgd-ad{
  .no-js .owl-carousel, .owl-carousel.owl-loaded{
    position: relative;
    z-index: 1;
  }
  .owl-theme .owl-nav.disabled + .owl-dots{
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 10001;
    width: 100%;
  }
}

//- 注册人数
.dgd-num{
  background:#fff;

  text-align: center;
  padding:17px 0;
  @include border-1px(#ccc);
  overflow: hidden;
  .item{
    width: 33.333333333333%;
    height: 100%;
    float: left;
    display: inline-block;
    font-size: 0;
    &::before{
      display: inline-block;
      content:'';
      width: 52px;
      height: 52px;
      background:url(../img/index/i1.png) center center no-repeat;
      background-size: 52px 52px;
      vertical-align: top;
      margin-right: .4rem;
    }
    &>span{
      font-size:1.3rem;
      color: #99a0a7;
      display: inline-block; vertical-align: top;
      &>span{
        display: block;
        &.num{
          font-style: italic;
          font-size: 2rem;
          color: #3e4149;
        }
      }
    }
    &:nth-of-type(2){
      &::before{
        background-image: url(../img/index/i2.png)
      }
    }
    &:nth-of-type(3){
      &::before{
        background-image: url(../img/index/i3.png)
      }
    }
  }
  .item+.item{
    border-left:1px #f1f2f3 solid;
  }
}

@mixin dgdNum--600 () {
  .dgd-num{
    padding:10px 0;
    .item{
      &::before{
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
      }
      &>span{
        font-size:1rem;
        &>span{
          &.num{
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@mixin dgdNum--480 () {
  .dgd-num{
    padding:8px 0;
    .item{
      &::before{
        display: none;
      }
    }
  }
}

@mixin dgdNum--350 () {
  .dgd-num{
    padding:8px 0;
    .item{
      &::before{
        display: none;
      }
      &>span{
        font-size:1rem;
      }
    }
  }
}

//- 平台公告
.dgd-ga{
  .container{ margin-top: 30px;}
  .container > .ga-side{
    border-left: 1px #ccc solid;
  }
  .ga-tab-btns,.dgd-plat-gg .title{
    height: 30px;
    line-height: 30px;
    font-size: 0;
    overflow: hidden;
    .ga-tab-btn{
      font-size: 1.6rem;
      display: inline-block;
      color: #3e4149;
      height: 30px;
      line-height: 30px;
      padding: 0 20px;
      border-radius: 5px;
      &.cur{
        background:#00a9e0;
        color: #fff;
      }
    }
    .more{
      float: right;
      color: #99a0a7;
      font-size: 1.4rem;
    }
  }

  .ga-main{
    float: left;
    width: 60%;
    padding-right: 25px;
    .ga-tab-box{
      margin-top: 12px;
      li.first{
        width: 100%;
        margin-bottom: 10px;
        .pic{
          width: 200px;
          height: 125px;
          display: inline-block;
          float: left;
          margin-right: 10px;
          img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }
        .title{
          height: 36px;
          line-height: 36px;
          font-size: 1.5rem;
          color: #3e4149;
        }
        .txt{
          color: #99a0a7;
          font-size: 1.3rem;
        }
      }
      li+li{
        height: 26px;
        line-height: 26px;
        .title{
          font-size: 1.5rem;
          color: #3e4149;
          width: 80%;
          display: inline-block;
          height: 100%;
          float: left;
        }
        .time{
          float: right;
          color: #99a0a7;
          font-size: 1.3rem;
        }
      }
    }
  }
  .ga-side{
    float: right;
    width: 40%;
    padding-left: 25px;
    .dgd-plat-gg{
      .title{
        font-size: 1.6rem;
      }
      .content{
        li{
          height: 26px;
          line-height: 26px;
          font-size: 0;
          overflow:hidden;
          a{
            font-size: 1.5rem;
            display: inline-block;
            line-height: 26px;
            width: 80%;
            height: 100%;
            float: left;
          }
          .time{
            float: right;
            color: #99a0a7;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
@mixin dgd-ga--480() {
  .dgd-ga{
    .ga-main{
      .ga-tab-box{
        li.first{
         .pic{
            width: 90px;
            height: 56px;
          }
        }
      }
    }
  }
}


@mixin dgd-ga--800() {
  .dgd-ga{
    .container{ margin-top: 20px;}
    .container > .ga-side {
      border: none;
    }
    .container > div +  div{
      border: none;
      margin-top: 20px;
    }
    .ga-tab-btns,.dgd-plat-gg .title{
      .ga-tab-btn{
        font-size: 1.6rem;
        padding: 0 8px;
      }
      .more{
        font-size: 0;
        &::after{
          content: "更多 >>";
          font-size: 1.2rem;
        }
      }
    }
    .dgd-plat-gg
    .ga-side,.ga-main{
      width: 100%;
      padding: 0;
    }
  }
}

@mixin dgd-ga--950() {
  .dgd-ga{
    .ga-tab-btns,.dgd-plat-gg .title{
      .ga-tab-btn{
        padding: 0 13px;
      }
    }
  }
}

.common-t{
  font-size:2rem;
  color: #333;
  text-align: center;
  span{
    display: inline-block;
    position: relative;
    padding: 6px 40px;
    border-bottom: 1px solid #efefef;
    &::after{
      content:'';
      display: inline-block;
      position: absolute;
      bottom: -2px;
      border-bottom: 3px solid #53bdea;
      width: 50px;
      left: 50%;
      margin-left: -25px;
    }
  }
}
.common-list{

  border: 1px #ededed solid;
  margin-top: 20px;
  box-shadow: 3px 3px 3px #ccc;
  border-radius: 5px;
  overflow: hidden;
  background:#fff;
  .list-item{
    height: 214px;
    .list-pic{
      height: 214px;
      width: 290px;
      float: left;
      font-size: 0;
      img{
        width: 100%;
        height: 100%;
      }
      a{
        display: inline-block;
        position: relative;
        height: 100%;
        width: 100%;
      }
      a >.tag{
        display: inline-block;
        position: absolute;
        left: 8px;
        top: 8px;
        background:rgba(0,0,0,0.3);
        padding: 3px 10px;
        font-size: 1.4rem;
        z-index: 2;
        border-radius: 4px;
        &-1{
          &::after{
            content:'预热中';
            display: block;
            color: #fff;
          }
        }
        &-2{
          &::after{
            content: '融资中';
            color: #30d1fb;
          }
        }
        &-3{
          &::after{
            content:'已完成';
            color: #fff;
          }
        }
      }
    }
    .list-main{
      float: right;
      height: 214px;
      width: calc(100% - 290px);
      position: relative;
      .list-t{
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        @include border-1px(#e0e0e0);
          font-size: 0;
          .item{
            display: inline-block;
            font-size: 1.5rem;
            &:nth-of-type(1){
              width: 180px;
            }

          }
          .item + .item{
            position: relative;
            width: calc(100% - 180px);
            &::before{
              content: '|';
              font-size: 1.8rem;
              color:#dcdcdc;
              margin-right: 40px;
            }
          }
          .buy-now{
            font-size: 1.5rem;
            position: absolute;
            right: 10px;
            top: 4px;
            height: 30px;
            width: 114px;
            text-align: center;
            line-height: 30px;
            color: #fff;
            background:#00a9e0;
            border-radius: 5px;
            .icon-money{
              font-size: 2rem;
              vertical-align: middle;
            }
          }
          .gz-btn{
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            color: #b2b9bf;
            font-size: 15px;
            padding: 0 10px;
            &::after{
              content:'关注';
            }
            &.gz-btn-ed{
              color: #009ff0;
              &::after{
                content: '已关注';
              }
            }
          }
      }
      .list-con{
        padding:0 20px;
        .list-txt,.list-info,.list-point{
          color: #adb3b9;
          font-size: 1.5rem;
          height: 4rem;
          line-height: 2rem;
          overflow: hidden;
          margin-top: 20px;
        }
        .list-info{
          color: #3e4149;
          .item>span{margin-right: 20px;}
        }
        .list-point{
          margin-top: 5px;
          height: auto;
          font-size: 0;
          .item{
            font-size: 1.5rem;
            display: inline-block;
            padding-right: 1rem;
            vertical-align: top;
            width: 33.3333333333333333%;
            .val{
              color: #3e4149;
            }
          }
        }
        .list-progress{
          height: 30px;
          line-height: 30px;
          span{
            display: inline-block;
            font-size:1.5rem;
            float: left;
            color: #99a0a7;
            vertical-align: middle;
            &.val{
              margin-top: 10px;
              width: calc(100% - 160px);
              height: 10px;
              background:#e4e4e4;
              border-radius: 5px;
              overflow: hidden;
              .val-sub{
                height: 100%;
                height: 10px;
                @include gradient(#00d5a7,#00a9e0);
              }
            }
            &.num{
              color: #3e4149;
              padding-left: 4px;
            }
          }
        }
      }
    }
  }
}
.loading-more{
  text-align: center;
  margin-top: 20px;
  & > a{
    display: inline-block;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    border: 1px #ccc solid;
    border-radius: 5px;
    font-size:1.5rem;
  }
}

@mixin common-list--350() {
  .common-list .list-item .list-main .list-con .list-point .item{
    font-size: 1.3rem;
  }
}
@mixin common-list--480(){
  .common-list{
    .list-item{
      height: auto;
      padding-top: 40px;
      .list-pic{
        position: static;
        top: 40px;
        left: 0;
        width: 100%;
        height: auto;
      }
      .list-main{
        position: static;
        padding-left: 0;
        height: auto;
        width: 100%;
        .list-t{
          padding-left: 10px;
          position: absolute;
          top: 0;
          left: 0;
          .item{
            font-size: 1.3rem;
            width: auto;
            display: inline;
            padding: 0 5px;
            &::before{
              display: none;
            }
          }
        }
        .list-con{

          padding-top: 0;
          padding-bottom: 10px;
          .list-info{
            height: auto;
            .item > span{
              display: block;
            }
          }
          .list-point{
            margin-top: 6px;
            .itme{
              margin-top: 4px;
            }
          }
          .list-progress{
            height: 20px;
            line-height: 20px;
            margin-top: 6px;
            span{
              font-size:1.3rem;
              &.t{
                display: none;
              }
              &.val{
                margin-top: 5px;
                width: calc(100% - 32px);
                height: 10px;
                background:#e4e4e4;
                border-radius: 5px;
                .val-sub{
                  height: 10px;
                }
              }
              &.num{
                color: #009ff0;
              }
            }
          }
        }
      }
    }
  }
}

@mixin common-list--600(){
  .common-list{
    .list-item{
      .list-main{
        .list-t{
          .item{
            width: auto;
          }
        }
        .list-con{
          .list-point{
            .item{
              .val{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
@mixin common-list--800(){
  .common-list{
    .list-item{
      height: 187px;
      position: relative;
      .list-pic{
        position: absolute;
        top: 40px;
        left: 0;
      }
      .list-main{
        width: 100%;
        padding-left: 200px;
        .list-t{
          position: absolute;
          left: 0;
          width: 100%;
          .gz-btn{
            display: block;
          }
        }
        .list-con{
          padding-top: 40px;
          .list-info{
            height: 6.4rem;
          }
        }
      }
    }
  }
  .common-list .list-item .list-main .list-t .buy-now{
    display: none;
  }
}

@mixin common-list--950() {
  .common-list{

    .list-item{
      height: 147px;
      .list-pic{
        height: 147px;
        width: 200px;

      }
      .list-main{
        height: 147px;
        width: calc(100% - 200px);
        .list-t{
          .item + .item{
            &::before{
              font-size: 1.6rem;
              margin-right: 20px;
            }
          }
        }
        .list-con{
          .list-txt,.list-info{
            margin-top: 8px;
            font-size: 1.3rem;
            height: 3.2rem;
            line-height: 1.6rem;
          }
          .list-point .item{
            line-height: 1.6rem;
          }
        }
      }
    }
  }
}

 //- 站岗宝

.stand-bao{
  margin-top: 20px;
}

//- 转让的项目
.transfer{
  background:#f8f8f8;
  margin-top: 20px;
  padding: 20px 0;
  .transfer-list{
    margin-top: 20px;
    width: 100%;
    height: 320px;
    overflow: hidden;
    li+li{
      margin-left: 20px;
    }
    li{
      // width: calc(25% - 20px);
      width: 220px;
      height: 320px;
      background-size:cover;
      background-position: center center;
      display: inline-block;
      color: #fff;
      position: relative;
      float: left;
      text-align: center;
      border: 1px #b6bdc0 solid;
      border-radius: 5px;
      .btn{
        display: inline-block;
        background:#212c43;
        padding:0 10px;
        height: 26px;
        line-height: 26px;
        border-radius: 5px;
        color: #fff;
        font-size: 1.4rem;
      }
      .face{
        height: 100%;
        width: 100%;
        .tag{
          display: inline-block;
          width: 41px;
          height: 81px;
          background:url(../img/index/tag.png);
          position: absolute;
          left: 10px;
          top: -1px;
          overflow: hidden;
          z-index: 10;
          &::after{
            content:'转让中';
            display: inline-block;
            font-size: 1.5rem;
            color: #fff;
            padding: 0 10px;
            line-height: 1.2;
            margin-top: 6px;
            text-shadow:3px 3px 3px #333;
          }
        }
        .logo{
          text-align: center;
          margin-top: 84px;
        }
        .title{
          text-align: center;
          margin-top: 10px;
          font-size: 2rem;
          font-weight: 400;
          text-shadow:3px 3px 3px #111;
        }
      }
      .back{
        display: none;
        height: 100%;
        width: 100%;
      }
      &.cur{
        .face{display: none;}
        .back{
          display:block;
          padding: 50px 20px;
          position: relative;
          z-index: 10;
          .title,.item{
            text-align: left;
          }
          .title{
            font-size: 1.6rem;
            color: #02d3ac;
            margin-bottom: 20px;
          }
          .item{
            font-size: 1.4rem;
            line-height: 24px;
          }
          .btn{
            margin-top: 60px;
          }
        }
        &::after{
          display: block;
          content:'';
          position: absolute;
          width: 100%;
          height: 100%;
          background:rgba(0,0,0,0.3);
          top: 0;
          left: 0;
        }
      }
    }
  }
}

//- 我们的优势
.odds{
  padding: 30px 0;
}
.odds-list{
  ul{
    text-align: center;
  }
  li{
    display: inline-block;
    font-size: 0;
    width: calc(33.33333333333333% - 50px);
    margin: 0 25px;
    float: left;
    margin-top: 20px;
    .pro-logo{
      display: inline-block;
      width: 62px;
      height: 60px;
      background:url(../img/index/i4.png) center bottom no-repeat;

    }
    &:nth-of-type(2){
        .pro-logo{
          background-image: url(../img/index/i5.png);
        }
      }
    &:nth-of-type(3){
      .pro-logo{
        background-image: url(../img/index/i6.png);
      }
    }
    .title{
      font-size: 2rem;
      color: #0a0b0b;
      font-weight: 400;
      text-align: center;
      padding: 6px 0;
      @include border-1px(#dfe1e3);
    }
    .txt{
      text-align: center;
      font-size: 1.4rem;
      color: #99a0a7;
      margin-top: 14px;
    }
  }
}
@mixin odds-list--600() {
  .odds-list{
    li{
      width: calc(33.33333333333333% - 20px);
      margin: 0 10px;
      margin-top: 15px;
      .txt{
        margin-top: 10px;
      }
    }
  }
}
@mixin odds-list--480() {
  .odds-list{
    li{
      width: calc(33.33333333333333% - 4px);
      margin: 0 2px;
      margin-top: 10px;
      .title{
        font-size: 1.6rem;
      }
      .txt{
        margin-top: 8px;
        font-size: 1.2rem;
      }
    }
  }
}

//- 合作机构
.player{
  padding: 20px 0;
  background:#f8f8f8;
}
.player-bar{
  text-align: right;
  font-size: 0;
  padding-right: 10px;
  span{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../img/index/prev.png) center center no-repeat;
    border-radius: 2px;

    &:nth-of-type(2){
        background-image: url(../img/index/next.png);
      }
  }
}
.player-list{
  margin-top: 20px;
  .item{
    display: block;
    margin: 0 10px;
  }
}

@mixin player-list--800() {
  .player-list{
    margin-top: 20px;
    .item{
      margin: 0 8px;
    }
  }
}

@mixin player-list--600() {

  .player-list{
    margin-top: 15px;
    .item{
      margin: 0 5px;
    }
  }
}

//- 友情链接
.links{

}
.links-list{
  line-height: 28px;
  padding: 10px 0;
  a{
    padding-right: 10px;
  }
}


//小于950px;
@media only screen and( max-width: 59.375em){
  @include dgd-ga--950();
  @include common-list--950();
  @include player-list--800();
}

//小于800px;
@media only screen and (max-width: 50em) {
  body{
    background:#f0eff5;
  }
  @include dgd-ga--800();
  @include common-list--800();

}

//小于600px;
@media only screen and (max-width: 37.5em) {
  @include dgdNum--600();
  @include common-list--600();
  @include odds-list--600();
  @include player-list--600();
  .odds,.player,.links,.transfer,.ga-main{display: none;}

}

//小于480px;
@media only screen and (max-width: 30em) {
  @include dgd-ga--480();
  @include dgdNum--480();
  @include common-list--480();
  @include odds-list--480();

}

//小于350px;
@media only screen and (max-width: 21.875em) {
  @include dgdNum--350();
  @include common-list--350();
}


