#project-list{
  background-color: #fff;
  .banner{
    width: 100%;
    img{
      width: 100%;
    }
  }
  //
  .project-title{
    position: relative;
    color: #333;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    font-style: normal;
    &::before,
    &::after{
      content: ' ';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
    &::before{
      width: 344px;
      height: 1px;
      background-color: #ececec;
    }
    &::after{
      width: 112px;
      height: 3px;
      background-color: #41d4dc;
      transform: translate3d(-50%, 50%, 0)
    }
  }

  // 筛选
  .search-wrapper{
    color: #505050;
    font-size: 14px;
    .search-box{
      input[type='text']{
        width: 176px;
        height: 28px;
        text-indent: 8px;
        border: 1px solid #a09f9f;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2);
        &:focus{
          border-color: #41d4dc;
        }
      }
      .icon-search{
        position: absolute;
        right: 8px;
        top: 50%;
        font-size: 22px;
        color: #c8c8c8;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .toggle-filter{
        float: right;
        width: 105px;
        height: 28px;
        margin-top: 8px;
        line-height: 28px;
        text-align: center;
        color: #656565;
        background-color: #fafafa;
        border: 1px solid #dcdcdc;
        cursor: pointer;
        .icon{
          margin-left: 12px;
        }
      }
    }
    dl{
      height: 47px;
      line-height: 47px;
      border-bottom: 1px dotted #e3e3e3;
      overflow: hidden;
    }
    dt, dd{
      float: left;
    }
    dt{
      margin-right: 16px;
    }
    dd{
      position: relative;
      &.select{
        display: none;
      }
      a{
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        margin-right: 10px;
        border-radius: 5px;
        &:hover,
        &.current{
          color: #fff;
          background-color: #41d4dc;
        }
      }
    }
  }

  .pagination{
    text-align: center;
    margin-top: 34px;
    font-size: 0;
    a{
      display: inline-block;
      font-size: 14px;
      color: #787878;
      padding: 8px 16px;
      margin: 0 3px;
      border: 1px solid #e0e0e0;
      background-color: #fff;
      border-radius: 5px;
      &.current{
        color: #fff;
        background-color: #41d4dc;
      }
      &.ellipsis{
        border: none;
        padding: 0;
        cursor: default;
      }
    }
  }
  .loading-more{
    display: none;
  }

}

@media screen and (max-width: 50em) {
  #project-list{
    .pagination{
      display: none;
    }
    .loading-more{
      display: block;
    }
  }
}

@media screen and (max-width: 767px) {
  #project-list{
    //
    .project-title{
      margin-top: 20px;
      font-size: 20px;
    }
    // 筛选
    .search-wrapper{
      .search-box{
        input[type='text']{
          // width: auto;
          box-shadow: none;
        }
        .toggle-filter{
          width: auto;
          border: none;
          background: none;
          span{
            display: none;
          }
          .icon{
            margin: 0;
          }
        }
      }
      .sub-nav{
        dd{
          display: none;
        }
        .select{
          display: block;
          float: none;
          margin-left: 86px;
          select{
            width: 100%;
            height: 34px;
            background-color: #fff;
          }
        }
      }
    }

  }
}
