/*
* @Author: suzhihui
* @Date:   2016-12-19 11:32:37
* @Last Modified by:   老苏
* @Last Modified time: 2016-12-19 18:11:14
*/
body{
  background:#f0f4f7;
}
html.searchPop,body.searchPop{
  height: 100%;
  overflow: hidden;
}
.qa-banner{
  img{
    width: 100%;
  }
}
.qa-content{
  overflow: hidden;
  .container{

    max-width: 962px;
  }
}
.qa-head{
  height: 60px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
    .qa-show-btn{
      position: absolute;
      right: 0;
      font-size: 3rem;
      right: 0;
      top: 2px;
      transform:translateY(-200px);
      // transition:transform .6s cubic-bezier(0.43, 0.14, 0.34, 1.6);
    }
    .qa-t{
        text-align: center;
        span{
          font-size: 2rem;
          color: #4e555c;
          font-weight: 700;
          display: block;
        }
        em{
          font-style: inherit;
          font-size: 1.4rem;
          color: #b2b9bf;
        }
    }
    .qa-search{
      position: absolute;
      right: 0;
      top: 0;
      // transition:transform .6s cubic-bezier(0.43, 0.14, 0.34, 1.6);
      .searchForm{
        width: 172px;
        height: 42px;
        border: 3px #d1d6db solid;
        border-radius: 5px;
        input{
          border: none;
          width: 100%;
          height: 36px;
          line-height: normal;
          padding: 0 40px 0 10px;
          font-size: 1.6rem;
          background:none;
        }
      }
      .icon{
        border: none;
        background:none;
        outline:none;
        display: block;
        color: #b2b9bf;
        font-size: 3rem;
        position: absolute;
        right: 4px;
        top: 0px;
        height: 42px;
        &-close{
          display: none;
        }
      }
      &.qaSearchPop2{
        .searchForm{
          border: none;
          border-radius: 0;
          height: 60px;
          width: 100%;
          border-bottom: 1px #ccc solid;
          input{
            height: 60px;
            padding-right: 120px;
          }
        }
        .icon{
          height: 60px;
          width: 60px;
          border-left: 1px #ccc solid;
          &-search{
            right: 60px;
          }
          &-close{
            display: inline-block;
            right: 0;
            border: none;
            background:none;
            border-left: 1px #ccc solid;
          }
        }
      }
    }
  &.qaSearchPop{
    position: static;
    margin-top: 0;
    .qa-search{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 10000;
      height: 100%;
      width: 100%;
      background:#fff;
    }
  }
}
.qaHeadMobile{
  .qa-head{
    .qa-show-btn{
      transform:translateY(0);
      cursor: pointer;
    }
    .qa-search{
      transform:translateY(-200px);
    }
    .qaSearchPop2{
      transform:translateY(0);
    }
  }
}
.qa-list{
  margin: 0 auto;
  .item{
    font-size: 0;
    a{
      display: inline-block;
      width: calc(33.33333333333% - 20px);
      background:#fff;
      transition: all .3s;
      margin-top: 20px;
      float: left;
      img{
        width: 100%;
      }
      &:hover{
        box-shadow: 6px 6px 6px #eee;
      }
    }
    a + a{
      margin-left: 30px;
    }
  }
}

@mixin qa-head--600() {
  .qa-head{

  }
}

//问题详情
.qa-detail{
  .item{
    margin-top: 20px;
    dt{
      font-size: 2rem;
      color: #009ff0;
    }
    dd{
      font-size: 1.8rem;
      color: #787e8a;
      padding-top: 6px;
    }
  }
  .qa-more{
    text-align: center;
    font-size: 2rem;
    color: #009ff0;
    margin-top: 20px;
    overflow: hidden;
    .more{
      display: inline-block;
      border: 1px #009ff0 solid;
      border-radius: 5px;
      padding: 0 4rem;
      color: #009ff0;
      transition: all .3s;
      vertical-align: top;
      font-size: 1.8rem;
      height: 3rem;
      line-height: 3rem;
      &:hover{
        color: #fff;
        background:#009ff0;
      }
    }
  }
}

// 我要提问
.qa-ask{
  .qa-ask-from{
    padding: 10px;
    .ask-val{
      border: 4px #7fcff7 solid;
      width: 100%;
      padding: 15px;
      height: 182px;
      font-size: 1.8rem;
    }
    .ask-submit{
      text-align: center;
      margin-top: 15px;
      button {
        border: none;
        background:#009ff0;
        color: #fff;
        padding: 0 60px;
        height: 52px;
        line-height: 52px;
        font-size: 2rem;
        border-radius: 10px;
      }
    }
    .tips{
      color: #616a73;
      font-size: 1.8rem;
      text-align: center;
      margin-top: 20px;
    }
  }
}




//小于600px;
@media only screen and (max-width: 37.5em) {
  @include qa-head--600();
}