$color: #41d4dc;
#transfer-list {
  background-color: #fafafa;
  margin-bottom: -20px;
  padding-bottom: 20px;
  // banner
  .banner {
    display: block;
    width: 100%;
    height: 300px;
    background-image: url(/skin/img/transfer/banner_s.jpg);
    background-position: center top;
  }
  // 标题
  .transfer-title {
    position: relative;
    color: #333;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    font-style: normal;
    &::before,
    &::after {
      content: ' ';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
    &::before {
      width: 344px;
      height: 1px;
      background-color: #ececec;
    }
    &::after {
      width: 112px;
      height: 3px;
      background-color: $color;
      transform: translate3d(-50%, 50%, 0)
    }
  }
  // 列表
  .container {
    margin-top: 52px;
  }
  .transfer {
    &-list {
      padding: 0 25px;
      margin-bottom: 20px;
      border: 1px solid #e6e6e6;
      background-color: #fff;
      border-radius: 5px;
    }
    &-header {
      position: relative;
      width: 100%;
      height: 74px;
      line-height: 74px;
      padding-left: 100px;
      border-bottom: 1px solid #e6e6e6;
      &::after {
        content: '.';
        display: block;
        clear: both;
        visibility: hidden;
      }
      >* {
        float: left;
        &:not(.transfer-tag) {
          width: 33%;
          height: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    // 转让标签
    &-tag {
      position: absolute;
      left: 0;
      width: 86px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 19px;
      margin-top: 21px;
      border-radius: 5px;
      &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      &.transfer-ing {
        color: #fe6840;
        border: 1px solid #fe6840;
        &::after {
          content: '转让中'
        }
      }
      &.transfer-over {
        color: $color;
        border: 1px solid $color;
        &::after {
          content: '已转让'
        }
      }
      &.transfer-finished {
        color: #d2d3d3;
        border: 1px solid #d2d3d3;
        &::after {
          content: '已完成'
        }
      }
    }
    // 项目名称
    &-project-title {
      color: #333;
      font-size: 26px;
    }
    // 项目简介
    &-project-intro {
      color: #969696;
      font-size: 17px;
    }
    // 关联项目
    &-association {
      color: #0b50fe;
      font-size: 15px;
      &:hover {
        text-decoration: underline;
      }
    }
    //
    &-content {
      .param {
        padding: 28px 0;
        width: 80%;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .buttons {
        padding: 15px 0;
        width: 20%;
        float: right;
        text-align: right;
      }
      // 转让金额
      .amount {
        margin: 14px 0;
        color: #969696;
        li {
          float: left;
          width: 33.3%;
          font-size: 16px;
        }
        span {
          color: #323232;
        }
      }
      // 按钮
      /*.button{
        float: right;
        display: block;
        width: 154px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        margin: 5px 0;
        font-size: 20px;
        border: 1px solid $color;
        border-radius: 5px;
        transition: .2s;
        &:hover{
          opacity: .8;
        }
        &.interview-button{
          color: $color;
          background-color: #fff;
          &.finished-button{
            color: #d2d3d3;
            border-color: #d2d3d3;
            cursor: default;
            &:hover{
              opacity: 1;
            }
          }
        }
        &.purchase-button{
          color: #fff;
          background-color: $color;
          &.finished-button{
            border-color: #d2d3d3;
            background-color: #d2d3d3;
            cursor: default;
            &:hover{
              opacity: 1;
            }
          }
        }

      }*/
    }
  }
}

// ipad竖屏
@media (min-width: 768px) and (max-width: 1023px) {
  #transfer-list {
    .transfer-list {
      padding: 0 10px;
    }
    .transfer-header {
      .transfer-project-title,
      .transfer-project-intro {
        width: 40%;
        padding: 0 5px;
      }
      .transfer-association {
        width: 20%;
      }
    }
    .transfer-content {
      .param {
        float: none;
        width: 100%;
        padding-bottom: 0;
      }
      .buttons {
        float: none;
        width: 100%;
        >.button {
          margin: 0 10px;
        }
      }
    }
  }
}

// 手机端
@media screen and (max-width: 767px) {
  #transfer-list {
    .banner {
      height: 150px;
      background-position: center bottom;
    }
    .transfer-title {
      font-size: 20px;
      margin-top: 20px;
      &::before {
        width: 100%;
      }
    }
    .container {
      margin-top: 20px;
    }
    .transfer-list {
      padding: 0 10px;
    }
    //
    .transfer-header {
      height: auto;
      padding: 0;
      line-height: normal;
      padding-top: 10px;
      text-align: center;
      &::after {
        display: none;
      }
      >*:not(.transfer-tag) {
        float: none;
        width: 100%;
        height: auto;
      }
    }
    .transfer-tag {
      position: relative;
      font-size: 14px;
      margin: 0;
    }
    .transfer-project-title {
      font-size: 20px;
      height: 44px;
      line-height: 44px;
    }
    .transfer-project-intro {
      font-size: 14px;
      height: 30px;
      line-height: 30px;
    }
    .transfer-association {
      position: absolute;
      top: 10px;
      right: 0;
      text-align: right;
      font-size: 13px;
      height: 32px;
      line-height: 32px;
    }
    //
    .transfer-content {
      padding-top: 10px;
      .param {
        float: none;
        width: 100%;
        padding: 0;
      }
      .amount {
        margin: 0;
        li {
          float: none;
          width: 100%;
          line-height: 1.8;
          font-size: 14px;
        }
        .name {
          display: inline-block;
          width: 110px;
        }
        span {
          &:last-child {
            margin-left: 10px;
          }
        }
      }
      .buttons {
        float: none;
        width: 100%;
        padding: 5px;
      }
      .button {
        float: none;
        display: inline-block;
        width: 44%;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        }
      }
    }
  }
}