extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/mycenter/index.css")
  link(rel="stylesheet", href="/skin/css/mycenter/coupon.css")
  .allH
    .my-warp
      .container.clearfix
        //- 左侧
        include side.jade
        //- 右侧
        .my-main#coupon

          // 我的优惠券
          section.item-wrapper
            .item-header 
              span 我的优惠券
            .item-content
              ul.coupon-title.clearfix
                li(v-on:click='toggleCoupon(1)', v-bind:class='{current: couponType == 1}') 众筹之家优惠券
                li(v-on:click='toggleCoupon(2)', v-bind:class='{current: couponType == 2}') 合作伙伴优惠券
              .coupon-tab(v-show='couponType == 1')
                a(href="javascript:;", v-on:click='getCouponFilter(1)', v-bind:class='{current: couponState == 1}') 未使用
                a(href="javascript:;", v-on:click='getCouponFilter(2)', v-bind:class='{current: couponState == 2}') 已使用
                a(href="javascript:;", v-on:click='getCouponFilter(3)', v-bind:class='{current: couponState == 3}') 已过期
              //- 众筹之家优惠券
              .coupon-item-wrapper.clearfix(v-show='couponType == 1')
                .coupon-wrapper(v-for='item in couponList')
                  .coupon-head.red(v-bind:class='{gray: item.IsExpiring||item.IsUsed}')
                    h2 {{parseInt(item.Amount)}}
                    span(v-if='item.IsUsed') 已使用
                    span(v-else-if='item.IsExpiring') 已过期
                    a(href="#",v-else).btn 使用
                  .coupon-content
                    .coupon-number 券　编号：{{item.CouponID}}
                    .project-name 项目限制：{{item.ProjectName}}
                    .expiring-date 有效期至：  {{item.ExpiringDate}}
              //- 合作伙伴优惠券
              .coupon-item-wrapper.clearfix(v-show='couponType == 2')
                .coupon-wrapper(v-for='item in partnerCouponList')
                  .coupon-head.red
                    h2 {{parseInt(item.Amount)}}
                    a(v-bind:href="item.Plate_Links",target='_blank').btn 使用
                  .coupon-content
                    .project-name {{item.Plate}}
                    .coupon-number 新人送豪礼
                    .expiring-date 50元红包+高息专享7天10%收益 

                
                
                   
               
  script(src='/skin/js/mycenter/coupon.js')
    