extends ../shade/layout
block content
  link(href="/skin/css/mycenter/index.css", rel="stylesheet")
  link(href="/skin/css/news/newsDetail.css", rel="stylesheet")
  link(href="/skin/css/mycenter/msgCenter.css", rel="stylesheet")

  #model.allH
    .my-warp
      .container.clearfix
        //- 左侧
        include side.jade
        //- 右侧
        .my-main#msg-center
          //- 消息中心
          section.item-wrapper.msg-center
            .item-header(v-if="!headerModel.isMobileOrTable")
              span 消息中心
            section.comment
              .com-list
                .item(v-for="item in comList").clearfix
                  .com-photo
                    img(v-bind:src="item.Avater" v-bind:alt="item.SendUserName")
                  .com-cont
                    .com-t.clearfix
                      span.author{{item.Account}}
                      span.time{{item.PostDate}}
                    .com-txt{{item.Content}}
                    ul.com-list-sub(data-title="二级评论" v-if="item.comSon && item.comSon.length")
                      li.list-li.clearfix(v-for="com in item.comSon")
                        span.repay-info
                          span.repay-name(v-if="com.UserID !== mySideModel.userBaseInfo.uid")
                            span.blue {{ com.Account}} 
                            |的回复  : 
                          span.repay-name(v-else)
                            span.blue 我
                            |的回复  :



                          span.time {{com.PostDate}}
                        span.repay-txt(v-html="com.Content")
                    .com-tools
                      a(href="javascript:;" v-on:click="toggleRepay(item.ID,$event)").repay 回复
                      a(href="javascript:;" v-on:click="delMsg(item.ID,$event)").del 删除
            //- 翻页
            include page.jade              
  script(src="/skin/js/mycenter/msgCenter.js")               