extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/css/mycenter/index.css")
  link(rel="stylesheet", href="/skin/css/mycenter/seccenter.1.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.3.7/flatpickr.min.css")
  .allH
    .my-warp
      .container.clearfix
        //- 左侧
        include side.jade
        //- 右侧
        .my-main#seccenter

          // 安全中心
          section.item-wrapper
            .item-header 
              span 安全中心
            .item-content
              .list
                label 昵称：
                .input-wrapper
                  input(type="text", v-bind:value='mySideModel.userBaseInfo.UserName')
              .list
                label 手机：
                .input-wrapper
                  input(type="text", disabled, v-bind:value='mySideModel.userBaseInfo.Phone')
              .list
                label 邮箱：
                .input-wrapper
                  input(type="text", v-bind:value='mySideModel.userBaseInfo.Email')
                a(href="javascript:;",v-if='mySideModel.userBaseInfo.IsEmailActive').toggle-layer.button 发送激活邮件
                a(href="javascript:;",v-on:click='email = !email').toggle-layer.button 修改
                transition(name='fade')
                  .list-content(v-show='email')
                    .verified-wrapper
                      .list 
                        label 当前密码：
                        input(type="text",ref='verifiedUserName')
                      .list 
                        label 新邮箱地址：
                        input(type="tel",ref='verifiedIDnumber')
                      .list 
                        label 验证码：
                        input(type="tel",ref='verifiedIDnumber')
                      .list
                        img(src="http://www.dgd.vc/Passport/VerifyImage", alt="")
                      a(href="javascript:;").button 修改
              div
                .list-tab-wrapper
                  .list-tab(v-on:click='switchTab(1)', v-bind:class='{current: tabID == 1}') 个人信息
                  .list-tab(v-on:click='switchTab(2)', v-bind:class='{current: tabID == 2}') 银行卡管理
                  .list-tab(v-on:click='switchTab(3)', v-bind:class='{current: tabID == 3}') 安全设置

                // 个人信息内容页
                .tab-content(v-show='tabID == 1')
                  .list
                    .verified
                      span 实名认证
                      .notice.success(v-if='mySideModel.userBaseInfo.AuthState == 1')
                        i.icon.icon-os
                        | 已认证
                      .notice(v-else-if='mySideModel.userBaseInfo.AuthState == 0')
                        i.icon.icon-warning2
                        | 证件已提交，请等待审核!
                      .notice(v-else-if='mySideModel.userBaseInfo.AuthState == -1')
                        i.icon.icon-warning2
                        | 未认证
                      a(href="javascript:;", v-bind:class='{visibility:mySideModel.userBaseInfo.IsRealName !== -1}', v-on:click='verified = !verified').toggle-layer 认证
                    transition(name='fade')
                      .list-content(v-show='verified')
                        .verified-wrapper
                          .list 
                            label 身份证姓名：
                            input(type="text",ref='verifiedUserName')
                          .list 
                            label 身份证号码：
                            input(type="tel",ref='verifiedIDnumber')
                          .list 
                            label 所在地区：
                            .select-wrapper
                              select(v-model="verifiedProvinceS" ref="verifiedProvinceid" size="1" data="show" v-on:change="getCity(verifiedProvinceS)")
                                option( v-for="item in verifiedProvince" v-bind:value="item.CityID") {{item.CityName}}
                              select(v-if='verifiedProvinceS != 0',  ref="verifiedCityid", v-model="verifiedCityS")
                                option( v-for="item in verifiedCity" v-bind:value="item.CityID") {{item.CityName}}
                              input(type="text", placeholder='县/乡/街道', ref='verifiedArea')
                          a(href="javascript:;", v-on:click='investorAuthenticate').button 认证
                  .list
                    .verified
                      label 详细信息
                      a(href="javascript:;", v-on:click='detailUserInfo = !detailUserInfo').toggle-layer 修改
                  transition(name='fade')
                    div.detailUserInfo(v-show='detailUserInfo')
                      .list.nowrap 
                        label 地　　区：
                        .select-wrapper.input-wrapper
                          select(v-model="provinceS" ref="xxx" size="1" data="show" v-on:change="getCity(provinceS)")
                            option( v-for="item in province" v-bind:value="item.CityID") {{item.CityName}}
                          select(v-if='provinceS != 0', v-model="cityS")
                            option( v-for="item in city" v-bind:value="item.CityID") {{item.CityName}}
                      .list 
                        label 详细地址：
                        .input-wrapper
                          input()
                          span.tips 合同邮寄地址
                      .list 
                        label 性　　别：
                        .input-wrapper
                          select
                            option(value="0") 男
                            option(value="1") 女 
                      .list 
                        label 生　　日：
                        .input-wrapper
                          input(placeholder="选择日期..").flatpickr
                      .list 
                        label 个人简介：
                        .input-wrapper
                          textarea
                      .button-wrapper
                        span.visibility 按钮隐藏：
                        a(href="javascript:;").button 保存
                    

                // 银行卡管理
                .tab-content(v-show='tabID == 2')
                // 安全设置
                .tab-content(v-show='tabID == 3')
                  .list
                    .verified
                      span 登录密码
                      .notice.success(v-if='mySideModel.userBaseInfo.IsLoginPwd')
                        i.icon.icon-os
                        | 已设置
                      .notice(v-else)
                        i.icon.icon-warning2
                        | 未设置
                      a(href="javascript:;",v-if='mySideModel.userBaseInfo.IsLoginPwd', v-on:click='loginPwd = !loginPwd').toggle-layer 修改
                      a(href="javascript:;",v-else, v-on:click='loginPwd = !loginPwd').toggle-layer 设置
                    transition(name='fade')
                      .list-content(v-show='!loginPwd')
                        .verified-wrapper
                          .list 
                            label 当前登录密码：
                            input(type="password",ref='oldPwd')
                          .list 
                            label 新登录密码：
                            input(type="password", placeholder='包含字母和数字的8-15位字符', ref='newPwd')
                          .list 
                            label 确认新密码：
                            input(type="password",ref='verifiedIDnumber')
                          a(href="javascript:;", v-on:click='setLoginPwd').button 保存
                  .list
                    .verified
                      span 交易密码
                      .notice.success(v-if='mySideModel.userBaseInfo.IsBangPayPwd')
                        i.icon.icon-os
                        | 已设置
                      .notice(v-else)
                        i.icon.icon-warning2
                        | 未设置
                      a(href="javascript:;",v-if='mySideModel.userBaseInfo.IsBangPayPwd', v-on:click='payPwd = !payPwd').toggle-layer 修改
                      a(href="javascript:;",v-else, v-on:click='payPwd = !payPwd').toggle-layer 设置
                    transition(name='fade')
                      .list-content(v-show='payPwd')
                        .verified-wrapper
                          .list 
                            label 登录密码：
                            input(type="password",ref='verifiedUserName')
                          .list 
                            label 支付密码：
                            input(type="password", placeholder='包含字母和数字的8-15位字符',ref='verifiedIDnumber')
                          .list 
                            label 确认支付密码：
                            input(type="password")
                          a(href="javascript:;", v-on:click='investorAuthenticate').button 保存
                  

                      
  script(src='https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.3.7/flatpickr.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.3.7/l10n/zh.js')
  script(src='/skin/js/mycenter/seccenter.js')