extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/plugs/owl/owl.carousel.min.css")
  link(rel="stylesheet", href="/skin/plugs/owl-carousel/assets/owl.theme.default.min.css")
  link(rel="stylesheet", href="/skin/css/news/newsDetail.css")
  #model-newsDetail
    .news-warp
      .container.clearfix
        .main
          .news-detail(v-if="newsData")
            .item-head
              h1.item-title {{newsData.newsinfo.newtitle}}
              .item-souce.clearfix
                .item-l
                  span.souce 来源：{{newsData.newsinfo.newform}}
                  span.author 作者：{{newsData.newsinfo.newman}}
                  span.time(v-text="formartDate(newsData.newsinfo.newdate)")
                .item-r
                  span.sc 
                    i.icon.icon-sc
                    |收藏
                  span.commone 评论（6）
                  span.read 阅读（66）

            //- 导读
            .item-dd {{newsData.newsinfo.newsynopsis}}

            //- 新闻详情
            .item-info(v-html="newsData.newsinfo.newcontent")
            //- 关键词
            .item-keyWords
              a(href="#", v-for="item in formartKeyWords(newsData.newsinfo.newkey)" v-if="item") {{item}}
            //- 分享
            .item-share
            //- 申明
            .item-shengming
              span.tigger
                i.icon.icon-sm
                | 声明
              .item-sm-box



        .side
          //- 推荐项目
          .side-box.tjxm
            .side-title.clearfix
              span.t 推荐项目
              a.more(href="/project") 更多>>
            ul.side-content
              li(v-for="item in Pro.projectList")
                a(v-bind:href="['/project/detail.html?id='+ item.ProjectID]")
                  img(v-if="item.MoblePic==null" src="/skin/img/default.jpg", alt="")
                  img(v-else="item.MoblePic!=null" v-bind:src="item.MoblePic")
          //- 推荐文章
          .side-box.tjwz.mt20
            .side-title.clearfix
              span.t 推荐文章
              a.more(href="/project") 更多>>
            ul.side-content
              li.item(v-for="item in TopNews.news" v-cloak="")
                a.wz-t(v-bind:href="item.ShareUrl") {{item.newtitle}}
                p.wz-bar
                  span.wz-time {{timeFormart(item.newdate)}}
                  span.wz-view
                    i.icon.icon-ice
                    |{{item.newpoint}}


  script(src="/skin/plugs/owl-carousel/owl.carousel.min.js")
  script(src="/skin/js/news/newsDetail.js")
