extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/plugs/owl/owl.carousel.min.css")
  link(rel="stylesheet", href="/skin/plugs/owl-carousel/assets/owl.theme.default.min.css")
  link(rel="stylesheet", href="/skin/css/news/newsDetail.css")
  #model-newsDetail(v-cloak)
    .news-warp
      .container.clearfix
        .main
          .news-detail(v-if="newsData", v-bind:class="{'news-mobile': headerModel.isMobileOrTable}")
            //- 分享

            .iShare.item-share
              a.item(href="#").iShare_weibo
                i.icon.icon-sina
              a.item(href="javascript:;", v-on:click="wechat").iShare_wx
                i.icon.icon-wx
              a.item(href="#").iShare_qzone
                i.icon.icon-qzone
              a.item(href="#").iShare_renren
                i.icon.icon-renren
            //- 头部
            .item-head
              h1.item-title {{newsData.newsinfo.newtitle}}
              .item-souce.clearfix
                .item-l
                  span.souce 来源：{{newsData.newsinfo.newform}}
                  span.author 作者：{{newsData.newsinfo.newman}}
                  span.time(v-text="formartDate(newsData.newsinfo.newdate)")
                .item-r
                  span.sc(v-bind:class="{'sc-ed':newsData.newsinfo.IsCollect}" ,v-on:click="collection")
                    i.icon.icon-sc
                    |收藏
                  span.commone 评论（6）
                  span.read 阅读 {{newsData.newsinfo.newpoint}}

            //- 导读
            .item-dd {{newsData.newsinfo.newsynopsis}}

            //- 新闻详情
            .item-info(v-html="newsData.newsinfo.newcontent")
            //- 关键词
            .item-keyWords
              span( v-for="item in formartKeyWords(newsData.newsinfo.newkey)" v-if="item") {{item}}

            //- 申明
            .item-shengming
              span.tigger(v-on:click="Sm = !Sm")
                i.icon.icon-sm
                | 声明
              transition(name="opacity")
                .item-sm-box(v-if="Sm").
                  <p>1.众筹之家(www.zczj.com)所发布、转载、摘编的文章大多来源于互联网（我们会尽量标注来源和作者）。转载目的在于传递更多信息，不代表本网观点及真实性，如果作品内容、版权和其它问题侵害到您的权益，我们感到很抱歉，并将火速处理。联系方式：0755-82557958，也诚挚地欢迎您给我们投稿，谢谢！</p>
                    <p>2.众筹之家的原创文章，版权属于众筹之家。允许转载的文章转载请注明作者和“来源：众筹之家(www.zczj.com)”，不允许转载的文章仅供阅读。不尊重原创的行为众筹之家或将追究责任。</p>

            //- 评论
            #comment(v-cloak)
              .comment
                .com-header.
                  评论（<span class="com-num">2</span> 条评论）
                .com-form
                  .com-inner
                    textarea( class="com-box" tabindex="1" autocomplete="off" placeholder="来说两句吧……")
                  .com-ft.clearfix
                    span.com-tips 
                      |请先
                      a(href="/passport/login.html" target="_blank") 登录
                    button.material-design(data-color="#fff") 发表评论
                
                //- 评论列表
                .com-list
                  .item.clearfix
                    //- 头像
                    .com-photo
                    //- 内容
                    .com-cont
                      .com-t.clearfix
                        span.author 老苏
                        span.time 2016-07-08
                      .com-txt.
                        写的有点意思，好文章，值得收藏！
                        
                      //- 二级评论
                      ul.com-list-sub
                        li.list-li.clearfix
                          span.repay-info 
                            span.repay-name 
                              span.blue 习近平
                              |回复
                              span.blue 老苏:
                            span.time 2017-01-11 15:30
                          span.repay-txt.
                            说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好说得好
                        li.list-li.clearfix
                          span.repay-info 
                            span.repay-name 
                              span.blue 习近平
                              |回复
                              span.blue 老苏:
                            span.time 2017-01-11 15:30
                          span.repay-txt.
                            说得好说得好说得好

                      .com-tools
                        a.jb 举报
                        a.repay 回复
                        a.zan

                  

                  


        .side
          //- 推荐项目
          .side-box.tjxm
            .side-title.clearfix
              span.t 推荐项目
              a.more(href="/project") 更多>>
            ul.side-content
              li(v-for="item in Pro.projectList")
                a(v-bind:href="['/project/detail.html?id='+ item.ProjectID]")
                  img(v-if="item.MoblePic==null" src="/skin/img/default.jpg", alt="")
                  img(v-else="item.MoblePic!=null" v-bind:src="item.MoblePic")
          //- 推荐文章
          .side-box.tjwz.mt20
            .side-title.clearfix
              span.t 推荐文章
              a.more(href="/project") 更多>>
            ul.side-content
              li.item(v-for="item in TopNews.news" v-cloak="")
                a.wz-t(v-bind:href="item.ShareUrl") {{item.newtitle}}
                p.wz-bar
                  span.wz-time {{timeFormart(item.newdate)}}
                  span.wz-view
                    i.icon.icon-ice
                    |{{item.newpoint}}


    // 微信分享
    transition(name='opacity')
      .h-modal-mask(v-if='webShareWx' v-on:click='webShareWx = false')
        img(src="/skin/img/project/share.png", width='100%', alt="")
    // 移动端非微信端分享
    transition(name='opacity')
      .h-modal-mask(v-if='webShare' v-on:click='webShare = false')
        .qrcode
          canvas#canvas

  script(src="/skin/plugs/owl-carousel/owl.carousel.min.js")
  script(src="/skin/js/news/newsDetail.js")
  script(src='/skin/js/project/iShare-tidy.min.js')
