extends ../shade/layout
block content
  link(rel="stylesheet", href="/skin/plugs/owl/owl.carousel.min.css")
  link(rel="stylesheet", href="/skin/plugs/owl-carousel/assets/owl.theme.default.min.css")
  link(rel="stylesheet", href="/skin/css/news/newsDetail.css")
  #model-news
    .news-banner(v-cloak)
      .owl-carousel.owl-theme#news-banner(ref='slider')
        div.item(v-for="item in Ad.ChannelList")
          a.item-link(:href="item.Link")
            .item-desc
              p.item-tite.ellipsis {{item.Title}}
              p.item-txt(v-if="item.Remark") {{item.Remark}}
              p.item-txt(v-else) 老苏说这里还没有描述
            img(v-bind:src="item.Pic", alt="", v-cloak="")
    .news-warp
      .container.clearfix
        .main
          .dgd-tab.clearfix
            a(href="javascript:void(0);", v-for="(item, index) in tabs", v-bind:class="{ cur : index == 0 }", v-on:click="tabFn(CategoryMap[index], index)", ref='tab-btns'){{item}}
          .news-list
            ul#newsList
              li.item(v-for="(item, index) in list").clearfix
                .item-pic
                  a(v-bind:href="item.ShareUrl")
                    img(src="../skin/img/default.jpg", alt="" v-if='item.CoverMobilePic')
                    img(v-else="", v-bind:src="resizeImg(item.CoverMobilePic,240,150)", alt="")

                .item-desc
                  a.title.ellipsis(v-bind:href="['detail.html?id='+ item.NewsID]") {{item.Title}}
                  .item-txt.ellipsis(v-html="item.Abstract")
                  .item-bar.clearfix
                    .item-bar-l
                      span.author.point(v-show="item.Author") {{item.Author}}
                      //- 由于接口没返回年份，故暂都视为今年年份
                      span.timer.point(v-text="timeFormart(new Date().getFullYear()+'/'+item.PostDate)")
                    .item-bar-r
                      span.zan
                        i.icon.icon-zan( v-on:click="newZan(index,item.NewsID)", ref="iconZan")
                        span {{item.Pageviews}}
                      span.point
                      span.showmore
                        i.icon.icon-msg
                        span 0

            .news-loadmore
              a.loadmore.loadmoreend(href="javascript:void(0);", v-on:click='loadMore', v-if="isLastPage") 最后一页
              a.loadmore(href="javascript:void(0);", v-on:click='loadMore', v-else="") 查看更多


        .side
          //- 推荐项目
          .side-box.tjxm
            .side-title.clearfix
              span.t 推荐项目
              a.more(href="/project") 更多>>
            ul.side-content
              li(v-for="item in Pro.projectList")
                a(v-bind:href="['/project/detail.html?id='+ item.ProjectID]")
                  img(v-if="item.MoblePic==null" src="/skin/img/default.jpg", alt="")
                  img(v-else="item.MoblePic!=null" v-bind:src="item.MoblePic")
          //- 推荐文章
          .side-box.tjwz.mt20
            .side-title.clearfix
              span.t 推荐文章
              a.more(href="/project") 更多>>
            ul.side-content
              li.item(v-for="item in TopNews.news" v-cloak="")
                a.wz-t(v-bind:href="[item.ShareUrl]") {{item.newtitle}}
                p.wz-bar
                  span.wz-time {{timeFormart(item.newdate)}}
                  span.wz-view
                    i.icon.icon-ice
                    |{{item.newpoint}}


  script(src="/skin/plugs/owl-carousel/owl.carousel.min.js")
  script(src="/skin/js/news/news.js")
