body{
  background:#f0f4f7;
}

// 导航
.tab-bar{
  margin-top: 20px;
  text-align: center;
  .nav{
    display: inline-block;
    border-bottom:1px #dbe0e4 solid;
    font-size: 2.4rem;
    
    a+a{
      margin-left: 60px;
    }
    a{
      color:#bac1c6;
      height: 50px; 
      line-height: 50px;
      padding: 0 5px;
      display: inline-block;
      position: relative;
      
      &.cur,&:hover{
        color:#616a73;
        &::after{
          display: inline-block;
          content: '';
          height: 3px;
          bottom: -1px;
          position: absolute;
          left: 0;
          width: 100%;
          background:#41d4dc;
        }
      }
    }

  }
}