extends shade/layout
block content

  section#pageList.pageList.clearfix(v-cloak)
    dl(v-for='item in items.l')
      dt {{item.catgray}}
      dd(v-for='list in item.list')
        a(:href='list.url') {{list.title}}
    dl(v-for='item in items.h')
      dt {{item.catgray}}
      dd(v-for='list in item.list')
        a(:href='list.url') {{list.title}}



  script.
    var data={
      h:[{
        catgray:'登录注册页面...',
        list:[
        {title: '登录',url: 'passport/login.html'},
        {title: '注册',url: 'passport/register.html'},
        {title: '成功',url: 'passport/success.html'},
        {title: '忘记密码',url: 'passport/fpwd.html'},
        {title: '项目列表',url: 'project/index.html'},
        {title: '项目详情',url: 'project/detail.html'},
        {title: '转让列表',url: 'transfer/index.html'},
        {title: '转让详情',url: 'transfer/detail.html'},
        {title: '公告列表',url: 'notice/index.html'},
        {title: '公告内容',url: 'notice/detail.html'},
        {title: '新手课堂',url: 'novice/index.html'},
        {title: '关于我们',url: 'about/index.html'},
        {title: '加入我们',url: 'about/joinus.html'},
        {title: '不支持IE8及以下页面跳转页',url: 'shade/unsupport.html'},
        {title: '个人中心首页', url: 'mycenter/index.html'},
        {title: '个人中心我的质押', url: 'mycenter/pledge.html'},
        {title: '个人中心质押详情', url: 'mycenter/pledgeDetail.html'},
        {title: '个人中心我的转让', url: 'mycenter/transfer.html'},
        {title: '个人中心转让详情', url: 'mycenter/transferDetail.html'},
        {title: '个人中心订单详情', url: 'mycenter/orderDetail.html'},
        {title: '个人中心我的推广', url: 'mycenter/promotion.html'},
        {title: '个人中心我的优惠券', url: 'mycenter/coupon.html'},
        ]
      }],
      l: [{
        catgray: '首页',
        list:[
        {title: '首页',url: 'index/index.html'},
        {title: '资讯列表',url: 'news/index.html'},
        {title: '资讯详情',url: 'news/detail.html'},
        {title: '常见问题分类', url: 'about/qa.html'},
        {title: '常见详情', url: 'about/qaDetail.html'},
        {title: '支付', url: 'order/index.html'},
        {title: '支付确认', url: 'order/orderConf.html'},
        {title: '支付完成', url: 'order/complete.html'},
        {title: '项目预约', url: 'reservation/index.html'},
        {title: '项目完成', url: 'reservation/complete.html'},
        {title: '提问', url: 'about/qaAsk.html'},
        {title: '绑定银行卡页面', url: 'mycenter/bindCard.html'},
        {title: '投资管理-我的投资', url: 'mycenter/Investment.html'},
        {title: '投资管理-关注项目', url: 'mycenter/Focus.html'},
        {title: '投资管理-站岗宝', url: 'mycenter/standguardbao.html'},
        {title: '资金管理', url: 'mycenter/FundManage.html'},
        {title: '充值', url: 'mycenter/recharge.html'},
        {title: '提现', url: 'mycenter/withdraw.html'},
        ]
      }]
    }
    new Vue({
      el: '#pageList',
      data: {
        items: data
      }
    })
    $(function () {
      $("#loader").hide()
    })

  style.
    body{background:#fff;}
    .pageList{ width: 800px-; margin: 0 auto; padding: 20px 0; background: #fff; }
    .pageList dl{ padding: 0 20px; width: 50%;float:left;box-sizing: border-box;}
    .pageList dl:first-child{margin-top: 0;}
    .pageList dl dt, .pageList dl dd{ padding: 0 20px; border-bottom: 1px #ccc solid; height: 40px; line-height: 40px; }
    .pageList dl dt{ background: #f8f8f8; font-size: 16px; color: #333; font-weight: bold; height: 80px; line-height: 80px; }
    .pageList dl dd{text-indent: 20px;font-size: 14px;}
    .pageList dl dd a{ display: block; }