@import 'myBase.scss';
body{
  background: #ebebeb;
}
.my-warp{
  margin-top: 30px;
}
.my-side{
  background: #38415c;
  width: 240px;
  min-height: 100%;
  color:#fff;
  float: left;
  .avatar{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 230px;
    .user-pic{
      width: 90px;
      height: 90px;
      border-radius: 45px;
      display: inline-block;
      overflow: hidden;
      img{
        width: 90px;
        height: 90px;
      }
    }
  }
}

@mixin my-side-800{
  .my-side{
    transition: transform 0.3s ease;
    padding-left: 0;
    display: block;
    min-height: 100%;
    background: #38415c;
    position: fixed;
    bottom: 0;
    top: 0;
    left: -240px;
    z-index: 1001;
    
    &.meanShow{
      transform:translateX(240px)
    }
  }
}

.my-main{
  width: calc(100% - 255px);
  height:400px;
  background:#fff;
  float:right;
}


@media only screen and (max-width: 50em){
  
  header {
    .nav {
      .logo {
          top: 5px;
          left: 50%;
          margin-left: -60px;
      }
      .triggers {
        .center-btn{
          display: inline-block;
          float: left;
          .icon{
            font-size: 3rem;
            vertical-align: middle;
            margin-top: -.8rem;
          }
        }
      }
    }
  }
  @include my-side-800();
}